{% trans_default_domain 'sfs_cms_admin' %}
{% extends '@SfsCms/admin_layout.html.twig' %}
{% block title %}{{ 'admin_blocks.create.meta.title'|trans }}{% endblock %}

{% form_theme form '@SfsPolymorphicFormType/polymorphic-form-theme.html.twig'
    '@SfsCms/cms_form_theme.html.twig'
    '@SfsImage/image_form_theme.html.twig'
%}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_cms_admin_blocks_list') }}">{{ 'admin_blocks.list.breadcrumb'|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="content">{{ 'admin_blocks.create.breadcrumb'|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <h1 class="h3">{{ 'admin_blocks.create.title'|trans }}</h1>

    <div class="container-fluid bg-white p-4">
        {{ form_start(form) }}
            {{ form_rest(form) }}

            <div class="d-flex justify-content-end align-items-center">
                <a href="{{ url('sfs_cms_admin_blocks_list') }}" class="btn btn-outline-secondary">{{ 'admin_blocks.create.actions.cancel.button'|trans }}</a>
                <button type="submit" class="btn btn-primary ms-3">{{ 'admin_blocks.create.actions.create.button'|trans }}</button>
            </div>
        {{ form_end(form) }}
    </div>

    {% include '@SfsImage/image_type_modal.html.twig' %}
{% endblock content %}
