{% trans_default_domain 'sfs_cms_admin' %}
{% extends '@SfsCms/admin_layout.html.twig' %}
{% block title %}{{ 'admin_blocks.delete.page_title'|trans }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <div class="d-flex justify-content-end align-items-center">
            <a href="{{ url('sfs_cms_admin_blocks_list') }}" class="btn btn-outline-secondary ml-3">{{ 'admin_blocks.delete.actions.cancel.button'|trans }}</a>
            <input type="submit" value="{{ 'admin_blocks.delete.actions.delete.button'|trans }}" class="btn btn-danger ml-3" />
        </div>
    {{ form_end(form) }}
{% endblock content %}