{% trans_default_domain 'sfs_cms_admin' %}

{% for block in entities %}
    <tr>
        <td>{{ block.type }}</td>

        {% if sfs_cms_blocks_are_multisite() %}
            <td>{{ block.sites|join(', ') }}</td>
        {% endif %}

        {% if sfs_cms_blocks_are_schedulable() %}
            <td>{{ block.publishStartDate ? block.publishStartDate|date('H:i d-m-Y', ' UTC') ~ 'UTC' : '-' }}</td>
            <td>{{ block.publishEndDate ? block.publishEndDate|date('H:i d-m-Y', ' UTC') ~ 'UTC' : '-' }}</td>
            <td>
                {% set now = 'now'|date('U') %}
                {% set startDate = block.publishStartDate|default('01-01-1970')|date('U') %}
                {% set endDate = block.publishEndDate|default('07-02-2106')|date('U') %}

                {% if now >= startDate and now <= endDate %}
                    published
                {% else %}
                    not published
                {% endif %}

            </td>
        {% endif %}

        <td>
            {% if is_granted('ROLE_SFS_CMS_ADMIN_BLOCKS_DETAILS', block) %}
                <a href="{{ url('sfs_cms_admin_blocks_read', {'block':block}) }}" class="ml-2 text-nowrap">{{ 'admin_blocks.list.actions.details.button'|trans }} <span class="mdi mdi-18px mdi-eye-outline align-middle"></span></a>
            {% endif %}

            {% if is_granted('ROLE_SFS_CMS_ADMIN_BLOCKS_UPDATE', block) %}
                <a href="{{ url('sfs_cms_admin_blocks_update', {'block':block}) }}" class="ml-2 text-nowrap">{{ 'admin_blocks.list.actions.update.button'|trans }} <span class="mdi mdi-18px mdi-square-edit-outline align-middle"></span></a>
            {% endif %}
        </td>
    </tr>
{% endfor %}