{% trans_default_domain 'sfs_cms_admin' %}
{% extends '@SfsCms/admin_layout.html.twig' %}
{% block title %}{{ 'admin_blocks.list.meta.title'|trans }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="content">{{ 'admin_blocks.list.breadcrumb'|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">{{ 'admin_blocks.list.title'|trans }}</h1>

        <div class="float-end">
            {% if is_granted('ROLE_SFS_CMS_ADMIN_BLOCKS_CREATE') %}
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownBlockButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'admin_blocks.list.actions.create.link'|trans }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownBlockButton1">
                    {% for blockKey, blockConfig in config|filter((blockConfig) => not blockConfig.static) %}
                        <li><a class="dropdown-item" href="{{ url('sfs_cms_admin_blocks_create', {'blockType':blockKey}) }}">{{ blockKey }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

    {#    #}{#    {% form_theme filterForm 'form/form_app_horizontal.html.twig' %}#}
    {#    {{ form_start(filterForm) }}#}
    {#    {{ form_widget(filterForm) }}#}
    {#    {{ form_rest(filterForm) }}#}
    {#    {{ form_end(filterForm) }}#}

    <div class="container bg-white p-4">
        {% embed '@SfsAdmin/components/table.html.twig' with {'collection':entities, 'pagination_block': 'sfs_cms_admin_blocks_list'} %}
            {% trans_default_domain 'sfs_cms_admin' %}
            {% block ths %}
                {#<th class="p-3" scope="col">{{ 'admin_blocks.list.fields.id.header'|trans }}</th>#}
                <th class="p-3" scope="col">{{ 'admin_blocks.list.fields.name.header'|trans }}</th>
                <th class="p-3" scope="col">{{ 'admin_blocks.list.fields.type.header'|trans }}</th>
                {% if sfs_cms_blocks_are_multisite() %}
                    <th scope="col">{{ 'admin_blocks.list.fields.sites.header'|trans }}</th>
                {% endif %}

                {% if sfs_cms_blocks_are_schedulable() %}
                    <th scope="col">{{ 'admin_blocks.list.fields.publishStartDate.header'|trans }}</th>
                    <th scope="col">{{ 'admin_blocks.list.fields.publishEndDate.header'|trans }}</th>
                    <th scope="col">{{ 'admin_blocks.list.fields.publishNow.header'|trans }}</th>
                {% endif %}
                <th class="p-3">&nbsp;</th>
            {% endblock ths %}

            {% block tbody %}
                {% include '@SfsCms/admin/block/list-page.html.twig' %}
            {% endblock tbody %}
        {% endembed %}
    </div>
{% endblock content %}
