{% trans_default_domain 'sfs_cms_admin' %}

{% for route in collection %}
    <tr>
        <td class="p-3">{{ route.id }}</td>
        <td class="p-3">{{ route.sites|map((site) => site|sfs_cms_site_name)|join(', ') }}</td>
        <td class="p-3">
            {{ ('admin_routes.types.'~route.type~'.name')|trans({'%redirectType%': route.redirectType}) }}
        </td>
        <td class="p-3">
            {% if route.type == constant('Softspring\\CmsBundle\\Model\\RouteInterface::TYPE_CONTENT') %}
                {{ route.content.name|default('') }}
            {% elseif route.type == constant('Softspring\\CmsBundle\\Model\\RouteInterface::TYPE_REDIRECT_TO_URL') %}
                {{ route.redirectUrl|default('') }}
            {% elseif route.type == constant('Softspring\\CmsBundle\\Model\\RouteInterface::TYPE_REDIRECT_TO_ROUTE') %}
                {{ route.symfonyRoute.route_name|default('') }}
            {% endif %}
        </td>
        <td class="p-3 text-end">
            <a href="{{ url('sfs_cms_admin_routes_read', {'route':route}) }}" class="ms-2 text-nowrap">{{ 'admin_routes.list.actions.details.link'|trans }} <span class="bi bi-eye"></span></a>
            <a href="{{ url('sfs_cms_admin_routes_update', {'route':route}) }}" class="ms-2 text-nowrap">{{ 'admin_routes.list.actions.update.link'|trans }} <span class="bi bi-pencil"></span></a>
        </td>
    </tr>
{% endfor %}
