{% trans_default_domain 'sfs_cms_admin' %}
{% extends '@SfsCms/admin_layout.html.twig' %}

{% form_theme filterForm 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}{{ 'admin_routes.list.meta.title'|trans }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="content">{{ 'admin_routes.list.breadcrumb'|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">{{ 'admin_routes.list.title'|trans }}</h1>

{#        #}{# TODO restrict by permission #}
        <div class="float-end">
            <a class="btn btn-outline-primary" href="{{ url('sfs_cms_admin_routes_create') }}">{{ 'admin_routes.list.actions.create.link'|trans }}</a>
        </div>
    </div>

    <div class="container-fluid bg-white p-4">
        {% if filterForm.vars.submitted or entities|length %}
            <div class="mb-4">
                {{ form_start(filterForm) }}
                <div class="row">
                    {% if filterForm.id is defined %}<div class="col">{{ form_row(filterForm.id, {'row_class':'form-floating'}) }}</div>{% endif %}
                    {% if filterForm.site is defined %}<div class="col">{{ form_row(filterForm.site, {'row_class':'form-floating'}) }}</div>{% endif %}

                    <div class="col">
                        <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                    </div>
                </div>
                {{ form_widget(filterForm) }}
                {{ form_rest(filterForm) }}
                {{ form_end(filterForm) }}
            </div>
        {% endif %}

        {% embed '@SfsComponents/paginator/table.html.twig' with {'collection':entities, 'pagination_route': 'sfs_cms_admin_routes_list'} %}
            {% trans_default_domain 'sfs_cms_admin' %}
            {% block ths %}
                <th class="p-3" scope="col">
                    <a href="{{ entities.sortToggleUrl(app.request, 'id') }}" class="text-dark">
                        {{ 'admin_routes.list.fields.id.header'|trans }}
                        {% if entities.sortedBy('id', 'asc') %}<i class="bi bi-caret-up-fill"></i>{% elseif entities.sortedBy('id', 'desc') %}<i class="bi bi-caret-down-fill"></i>{% endif %}
                    </a>
                </th>
                <th class="p-3" scope="col">{{ 'admin_routes.list.fields.sites.header'|trans }}</th>
                <th class="p-3" scope="col">{{ 'admin_routes.list.fields.type.header'|trans }}</th>
                <th class="p-3" scope="col">{{ 'admin_routes.list.fields.content.header'|trans }}</th>
                <th class="p-3">&nbsp;</th>
            {% endblock ths %}

            {% block tbody %}
                {% include '@SfsCms/admin/route/list-page.html.twig' %}
            {% endblock tbody %}

            {% block empty_message %}
                <p class="text-center text-muted">
                    <a href="{{ url('sfs_cms_admin_routes_create') }}">Create</a> your first route!
                </p>
                <p class="text-center text-muted">
                    If you need help go to <a href="https://github.com/softspring/cms-bundle" target="_blank">documentation</a>
                </p>
            {% endblock empty_message %}
        {% endembed %}
    </div>
{% endblock content %}
