{% trans_default_domain 'sfs_cms_admin' %}
{% extends '@SfsCms/admin_layout.html.twig' %}
{% block title %}{{ 'admin_routes.update.meta.title'|trans }}{% endblock %}

{% form_theme form '@SfsPolymorphicFormType/polymorphic-form-theme.html.twig' '@SfsCms/forms/routes-theme.html.twig' %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_cms_admin_routes_list') }}">{{ 'admin_routes.list.breadcrumb'|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="content">{{ 'admin_routes.update.breadcrumb'|trans({'%name%': route.name|default(route.id) }) }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <h1 class="h3">{{ 'admin_routes.update.title'|trans }}</h1>

    <div class="container-fluid bg-white p-4">
        {{ form_start(form) }}
            <div class="row">
                <div class="col">{{ form_row(form.id) }}</div>
                <div class="col">{{ form_row(form.site) }}</div>
            </div>

            <div class="row">
                <div class="col">{{ form_row(form.type) }}</div>
                <div class="col">
                    {{ form_row(form.content) }}
                    {{ form_row(form.redirectUrl) }}
                    {{ form_widget(form.symfonyRoute) }}
                    {{ form_row(form.redirectType) }}
                </div>
            </div>

        {{ form_rest(form) }}

        <div class="d-flex justify-content-end align-items-center pt-4">
            <a href="{{ url('sfs_cms_admin_routes_list') }}" class="btn btn-outline-secondary">{{ 'admin_routes.update.actions.cancel.button'|trans }}</a>
            <button type="submit" class="btn btn-primary ms-3">{{ 'admin_routes.update.actions.update.button'|trans }}</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
