{% set itemId = 'block_'~random(1..100000) %}
{% set open = open is defined ? open : false %}
<div class="accordion-item">
    <h2 class="accordion-header" id="{{ itemId }}-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ itemId }}-collapse"
                aria-expanded="{{ open ? 'true' : 'false' }}" aria-controls="{{ itemId }}-collapse">
            {% block title %}{{ (form.vars.module_id~'.form._group.'~(name|default('default')))|trans({}, 'sfs_cms_modules') }}{% endblock %}
        </button>
    </h2>
    <div id="{{ itemId }}-collapse" class="accordion-collapse collapse {{ open ? 'show' : '' }}" aria-labelledby="{{ itemId }}-heading" {% if accordion|default(false) %}data-bs-parent="#{{ accordion }}"{% endif %}>
        <div class="accordion-body">
            {% block form %}{% endblock %}
        </div>
    </div>
</div>