{% block module_locale_filter_widget %}
    <div class="input-group mb-3">
        <div {{ block('widget_container_attributes') }} class="row">
            {%- for child in form %}
                <div class="col">
                    {{- form_widget(child, {'attr': {'data-cms-module-locale-filter':''}}) -}}
                    {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
                </div>
            {% endfor -%}
        </div>
    </div>
{% endblock module_locale_filter_widget %}

{% block module_site_filter_widget %}
    <div class="input-group mb-3">
        <div {{ block('widget_container_attributes') }} class="row">
            {%- for child in form %}
                <div class="col">
                    {{- form_widget(child, {'attr': {'data-cms-module-site-filter':''}}) -}}
                    {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
                </div>
            {% endfor -%}
        </div>
    </div>
{% endblock module_site_filter_widget %}

{% block module_collection_row %}
    {% with { 'attr': form.vars.collection_row_attr|default({}) } %}
        <div {{ block('attributes') }}>
    {% endwith %}
        {{ form_label(form) }} {# uses: module_collection_label #}
        {{ form_errors(form) }}
        {{ form_widget(form) }} {# uses: module_collection_widget #}
    </div>
{% endblock module_collection_row %}

{% block module_collection_label %}
{% endblock module_collection_label %}

{% block module_collection_widget %}
    {% if container is defined %}
        {% with { 'attr': container.attr|default({}) } %}
            <div {{ block('attributes') }}>
        {% endwith %}
    {% endif %}

    {% set attr = {
        'data-module-row-class': form.vars.module_row_class,
    }| merge(attr) | merge({
        'data-polymorphic': 'collection',
        'data-modules-allowed': form.vars.allowed_modules|join(','),
        'data-modules-modal': 'module_prototypes_collection_modal',
        'data-full-name': form.vars.full_name,
        'class': module_collection_class
    }) %}

    <!-- Nodes -->
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {% for child in form|filter(child => not child.rendered) %}
            {{- form_row(child, {
                'attr': child.vars.attr|merge({'class': attr['data-module-row-class']})
            }) -}}
        {% endfor %}
        {{- form_rest(form) -}}

        <div class="insert-module-at-the-end {{ attr['data-module-row-class'] }}">
            <a class="insert-module" data-bs-toggle="modal" data-bs-target="#module_prototypes_collection_modal"
               data-polymorphic-collection="{{ form.vars.id }}" data-polymorphic-position="latest" title="Insert module here"></a>
        </div>
    </div>

    {% if container is defined %}
        </div>
    {% endif %}
{% endblock module_collection_widget %}

{#{% block module_collection_entry_row %}#}
{#{% endblock module_collection_entry_row %}#}

{#{% block module_collection_entry_widget %}#}
{#{% endblock module_collection_entry_widget %}#}

{#{% block module_collection_entry %}#}
{#{% endblock module_collection_entry %}#}

{% block module_buttons %}
    <div class="cms-module-buttons ps-2">
        <button type="button" id="{{ id }}_up_node_button" data-polymorphic-action="up"><span class="bi bi-chevron-up h2"></span><span class="visually-hidden">^</span></button>
        <button type="button" id="{{ id }}_down_node_button" data-polymorphic-action="down"><span class="bi bi-chevron-down h2"></span><span class="visually-hidden">v</span></button>
        <button type="button" id="{{ id }}_duplicate_node_button" data-polymorphic-action="duplicate"><span class="bi bi-copy h2"></span><span class="visually-hidden">D</span></button>
        <button type="button" id="{{ id }}_remove_node_button" data-polymorphic-action="delete" class="btn-close"><span class="visually-hidden">x</span></button>
    </div>
{% endblock %}

{% block dynamic_form_module_row %}
    <div data-polymorphic="node" {{ block('widget_container_attributes') }}>
        <div class="insert-module" data-polymorphic-position="before"  data-bs-toggle="modal" data-bs-target="#module_prototypes_collection_modal" title="Insert module here"></div>
        <div class="cms-module {{ form.vars.deprecated?'cms-module-deprecated':'' }} {% if form.vars.module_errors|length %}has-errors{% endif %}">
            <div class="cms-module-header">
                {{ block('module_buttons') }}
            </div>
            <div class="cms-module-body">
                {{ form_widget(form) }}
            </div>
        </div>
    </div>
{% endblock dynamic_form_module_row %}

{% block dynamic_form_module_widget %}
    <div class="cms-module-edit">
        {% if edit_template|default(false) %}
            <div class="module-preview">
                {% include edit_template %}
            </div>
        {% endif %}

        <div class="cms-module-form text-dark">
            <div class="d-flex justify-content-between border-bottom bg-gray-200 p-3">
                <div>
                    <span data-polymorphic="node-index" class="pe-3 d-none" id="{{ id }}_order_index">{{ form.vars.name }}</span>

                    <span class="icon me-3">
                        {{ ( form.vars.prototype_button_label~'_icon')|trans(form.vars.label_translation_parameters, form.vars.translation_domain)|raw }}
                    </span>

                    <strong>{{ form.vars.label|trans(form.vars.label_translation_parameters, form.vars.translation_domain) }}</strong>
                    {% if form.vars.deprecated %}<i class="bi bi-exclamation-diamond text-warning"></i>{% endif %}
                </div>
                {# form_name #}
                <button type="button" class="btn-close" data-cms-module-form-close="" aria-label="Close"></button>
            </div>
            <div class="text-start">
                {% if form.vars.errors|length %}
                    <div class="alert alert-danger mt-3" role="alert">
                        {%- for error in form.vars.errors -%}
                            <div class="invalid-feedback d-block">{{ error.message }}</div>

                            {% if app.environment == 'dev' and error.cause.location|default(false) %}
                                <div class="invalid-feedback d-block mt-2">
                                    <div class="mb-2"><strong>DEV INFO</strong></div>
                                    <div class="mb-2"><strong>{{ error.cause.template }}</strong></div>
                                    <div><strong>{{ error.cause.exception.message }}</strong></div>
                                    {#{{ dump(error.cause.location) }}#}
                                    {#{{ dump(error.cause.exception) }}#}
                                    {#{{ dump(error.cause.contextData) }}#}
                                </div>
                            {% endif %}
                        {%- endfor -%}
                    </div>
                {% endif %}

                {% if form.vars.deprecated %}
                    <div class="alert alert-warning mt-3" role="alert">{{ form.vars.deprecated }}</div>
                {% endif %}

                {{ form_widget(form._module) }}
                {{ form_widget(form._revision) }}

                <div class="accordion accordion-flush" id="moduleForm-{{ id }}">
                    {% if form.site_filter is defined or form.locale_filter is defined %}
                        {% embed '@SfsCms/forms/modules_form_block.html.twig' with { 'name': 'filters', 'accordion': 'moduleForm-'~id } %}
                            {% block form %}
                                {% if form.site_filter is defined %}
                                    <div class="col-12">
                                        {{ form_row(form.site_filter) }}
                                    </div>
                                {% endif %}

                                {% if form.locale_filter is defined %}
                                    <div class="col-12">
                                        {{ form_row(form.locale_filter) }}
                                    </div>
                                {% endif %}
                            {% endblock %}
                        {% endembed %}
                    {% endif %}

                    {% if form_template|default(false) %}
                        {% include form_template with {'accordion': 'moduleForm-'~id} %}
                    {% endif %}

                    {% if form|filter(child => not child.rendered)|length %}
                        {% embed '@SfsCms/forms/modules_form_block.html.twig' with { 'name': 'others', 'accordion': 'moduleForm-'~id } %}
                            {% block form %}
                                {{ form_rest(form) }}
                            {% endblock %}
                        {% endembed %}
                     {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock dynamic_form_module_widget %}

{% block container_module_row %}
    <div data-polymorphic="node" {{ block('widget_container_attributes') }}>
        <div class="insert-module" data-polymorphic-position="before" data-bs-toggle="modal" data-bs-target="#module_prototypes_collection_modal" title="Insert module here"></div>
        <div class="cms-module {{ form.vars.deprecated?'cms-module-deprecated':'' }}">
            <div class="cms-module-header">
                {{ block('module_buttons') }}
            </div>
            <div class="cms-module-body">
                {{ form_widget(form) }}{{ form_errors(form) }}
            </div>
        </div>
    </div>
{% endblock container_module_row %}

{% block container_module_widget %}
    <div class="cms-module-edit">
        {% if edit_template|default(false) %}
            <div class="module-preview">
                {% include edit_template %}
            </div>
        {% endif %}

        <div class="cms-module-form text-dark">
            <div class="d-flex justify-content-between border-bottom bg-gray-200 p-3">
                <div>
                    <span data-polymorphic="node-index" class="pe-3 d-none" id="{{ id }}_order_index">{{ form.vars.name }}</span>

                    <span class="icon me-3">
                        {{ ( form.vars.prototype_button_label~'_icon')|trans(form.vars.label_translation_parameters, form.vars.translation_domain)|raw }}
                    </span>

                    <strong>{{ form.vars.label|trans(form.vars.label_translation_parameters, form.vars.translation_domain) }}</strong>
                    {% if form.vars.deprecated %}<i class="bi bi-exclamation-diamond text-warning"></i>{% endif %}
                </div>
                <button type="button" class="btn-close" data-cms-module-form-close="" aria-label="Close"></button>
            </div>
            <div class="container">
                {% if form.vars.deprecated %}
                    <div class="alert alert-warning mt-3" role="alert">{{ form.vars.deprecated }}</div>
                {% endif %}

                {% if form.site_filter is defined %}
                    {{ form_label(form.site_filter) }}
                    {{ form_widget(form.site_filter) }}
                {% endif %}

                {% if form.locale_filter is defined %}
                    {{ form_label(form.locale_filter) }}
                    {{ form_widget(form.locale_filter) }}
                {% endif %}

                {% if form_template|default(false) %}
                    {% include form_template %}
                {% else %}
                    {{ form_widget(form) }}
                {% endif %}
            </div>
        </div>
        {{ form_rest(form) }}
    </div>
{% endblock container_module_widget %}

{% block empty_module_row %}
    <div data-polymorphic="node" {{ block('widget_container_attributes') }}>
        <div class="insert-module" data-polymorphic-position="before" data-bs-toggle="modal" data-bs-target="#module_prototypes_collection_modal" title="Insert module here"></div>

        <div class="cms-module {{ form.vars.deprecated?'cms-module-deprecated':'' }}">
            <div class="cms-module-header">
                {{ block('module_buttons') }}
            </div>
            <div class="cms-module-body">
                {{ form_widget(form) }}{{ form_errors(form) }}
            </div>
        </div>
    </div>
{% endblock empty_module_row %}

{% block empty_module_widget %}
    <div class="cms-module-edit">
        {% if edit_template|default(false) %}
            <div class="module-preview">
                {% include edit_template %}
            </div>
        {% endif %}

        <div class="cms-module-form text-dark">
            <div class="d-flex justify-content-between border-bottom bg-gray-200 p-3">
                <div>
                    <span data-polymorphic="node-index" class="pe-3 d-none" id="{{ id }}_order_index">{{ form.vars.name }}</span>

                    <span class="icon me-3">
                        {{ ( form.vars.prototype_button_label~'_icon')|trans(form.vars.label_translation_parameters, form.vars.translation_domain)|raw }}
                    </span>

                    <strong>{{ form.vars.label|trans(form.vars.label_translation_parameters, form.vars.translation_domain) }}</strong>
                    {% if form.vars.deprecated %}<i class="bi bi-exclamation-diamond text-warning"></i>{% endif %}
                </div>
                {# form_name #}
                <button type="button" class="btn-close" data-cms-module-form-close="" aria-label="Close"></button>
            </div>
            <div class="container">
                {% if form.vars.deprecated %}
                    <div class="alert alert-warning mt-3" role="alert">{{ form.vars.deprecated }}</div>
                {% endif %}

                {% if form.site_filter is defined %}
                    {{ form_label(form.site_filter) }}
                    {{ form_widget(form.site_filter) }}
                {% endif %}

                {% if form.locale_filter is defined %}
                    {{ form_label(form.locale_filter) }}
                    {{ form_widget(form.locale_filter) }}
                {% endif %}

                {% if form_template|default(false) %}
                    {% include form_template %}
                {% else %}
                    {{ form_widget(form) }}
                {% endif %}
            </div>
        </div>
        {{ form_rest(form) }}
    </div>
{% endblock empty_module_widget %}

{% block module_prototypes_collection_widget %}
    <section class="modal fade add-module-modal" id="module_prototypes_collection_modal" tabindex="-1" aria-labelledby="{{ form.vars.id }}_modal" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h5">{{ 'admin_content.content.modules_modal.label'|trans({}, 'sfs_cms_admin') }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="modalInfo"></div>

                    {% for group, prototypes in form.vars.prototypes %}
                        <div class="modal-modules-group">
                            <h2 class="h5 mb-3">{{ ('_group.'~group~'.name')|trans({}, 'sfs_cms_modules') }}</h2>
                            <div class="container">
                                <div class="row">
                                    {% for key, prototype in prototypes %}
                                        {% set trans_domain = prototype.vars.translation_domain | default(translation_domain) | default(false) %}
                                        <div class="col-3 mb-3 modal-module">
                                            <div data-polymorphic-action="insert" data-module-id="{{ prototype.vars.module_id }}" class="module-thumbnail" {{ block('polymorphic_prototype_button_attributes') }}>
                                                <div class="icon">
                                                    {{ (not trans_domain ? '' : (prototype.vars.prototype_button_label~'_icon')|trans({}, trans_domain))|raw }}
                                                </div>
                                                <div class="name">
                                                    {{ not trans_domain ? prototype.vars.prototype_button_label : prototype.vars.prototype_button_label|trans({}, trans_domain) }}
                                                    {% if prototype.vars.deprecated %}
                                                        <i class="bi bi-exclamation-diamond text-warning" title="{{ prototype.vars.deprecated }}"></i>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
