{% block translatable_widget %}
    {% if form|length > 1 %}
        {% for field in form.vars.localeFields %}
            <div class="input-group mb-3 flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        {{ field.vars.label|upper }}
{#                        <img alt="{{ field.vars.label|upper }}" title="{{ field.vars.label|upper }}" src="https://unpkg.com/language-icons/icons/{{ field.vars.label|lower }}.svg" height="15" class="border"/>&nbsp;#}
                    </span>
                </div>
                {{ form_widget(field) }}
            </div>
        {% endfor %}
        {{ form_widget(form._trans_id) }}
        {{ form_widget(form._default) }}
    {% else %}
        {{ form_widget(form|first) }}
    {% endif %}
{% endblock translatable_widget %}

{% block translatable_element_widget %}
    {% if attr['data-edit-content-input']|default(false) %}
        {% set attr = attr|merge({'data-edit-content-input': attr['data-edit-content-input']~'.'~form.vars.label|lower}) -%}
    {% endif %}
    {% if attr['data-media-preview-input']|default(false) %}
        {% set attr = attr|merge({'data-media-preview-input': attr['data-media-preview-input']~'.'~form.vars.label|lower}) -%}
    {% endif %}
    {{ form_widget(form, {'attr':attr}) }}
{% endblock %}

{% block siteable_widget %}
    {% if form|length > 1 %}
        {% for field in form %}
            <div class="input-group mb-3 flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        {{ field.vars.label|upper }}
{#                        <img alt="{{ field.vars.label|upper }}" title="{{ field.vars.label|upper }}" src="https://unpkg.com/language-icons/icons/{{ field.vars.label|lower }}.svg" height="15" class="border"/>&nbsp;#}
                    </span>
                </div>
                {{ form_widget(field) }}
            </div>
        {% endfor %}
    {% else %}
        {{ form_widget(form|first) }}
    {% endif %}
{% endblock siteable_widget %}

{% block siteable_element_widget %}
    {% if attr['data-edit-content-input']|default(false) %}
        {% set attr = attr|merge({'data-edit-content-input': attr['data-edit-content-input']~'.'~form.vars.label|lower}) -%}
    {% endif %}
    {% if attr['data-media-preview-input']|default(false) %}
        {% set attr = attr|merge({'data-media-preview-input': attr['data-media-preview-input']~'.'~form.vars.label|lower}) -%}
    {% endif %}
    {{ form_widget(form, {'attr':attr}) }}
{% endblock %}

{% block html_class_widget %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">.class</span>
        </div>
        {{ form_widget(form) }}
    </div>
{% endblock html_class_widget %}

{% block cms_color_widget %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox" data-color-type="toggler" {{ form.vars.data ? 'checked="checked"' : '' }} />
            </div>
        </div>
        {{ form_widget(form, {'attr': {'data-color-type': 'widget'}, 'disabled': not form.vars.data}) }}
    </div>
{% endblock cms_color_widget %}

{% block html_id_widget %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">#</span>
        </div>
        {{ form_widget(form) }}
    </div>
{% endblock html_id_widget %}


{% block block_info %}
{#    data-block-esi#}
{#    data-block-singleton#}
{#    data-block-schedulable#}
{#    data-block-cache-ttl#}

    <div class="alert alert-warning mt-3 d-none" role="alert" data-block-message-when data-block-when-not-esi>
        <i class="bi bi-exclamation-triangle"></i>
        {{ 'block_info.not_esi_warning'|trans({}, 'sfs_cms_types') }}
    </div>

    <div class="alert alert-info mt-3 d-none" role="alert" data-block-message-when data-block-when-schedulable>
        <i class="bi bi-clock-history"></i>
        {{ 'block_info.schedulable_info'|trans({}, 'sfs_cms_types') }}
    </div>
{% endblock block_info %}

{% block block_instance_widget %}
    {{ form_widget(form, {'attr': attr | merge({'data-block-message-select': ''})}) }}
    {{- block('block_info') -}}
{% endblock block_instance_widget %}

{% block block_static_widget %}
    {{ form_widget(form, {'attr': attr | merge({'data-block-message-select': ''})}) }}
    {{- block('block_info') -}}
{% endblock block_static_widget %}

{% block block_type_widget %}
    {{ form_widget(form, {'attr': attr | merge({'data-block-message-select': ''})}) }}
    {{- block('block_info') -}}
{% endblock block_type_widget %}


{% block symfony_route_widget %}
    {{ form_row(form.route_name) }}
    <a href="javascript: void(0)" data-route-show-params="{{ form.route_params.vars.id }}">{{ 'symfony_route.show_parameters_link'|trans({}, 'sfs_cms_types') }}</a>
    <a href="javascript: void(0)" data-route-hide-params="{{ form.route_params.vars.id }}">{{ 'symfony_route.hide_parameters_link'|trans({}, 'sfs_cms_types') }}</a>
    {{ form_row(form.route_params) }}
{% endblock symfony_route_widget %}

{% block link_widget %}
    {{ form_row(form.type) }}

    <div class="route">
        {{ form_row(form.route_name) }}
        <a href="javascript: void(0)" data-route-show-params="{{ form.route_params.vars.id }}">{{ 'symfony_route.show_parameters_link'|trans({}, 'sfs_cms_types') }}</a>
        <a href="javascript: void(0)" data-route-hide-params="{{ form.route_params.vars.id }}">{{ 'symfony_route.hide_parameters_link'|trans({}, 'sfs_cms_types') }}</a>
        {{ form_row(form.route_params) }}
    </div>

    {{ form_row(form.anchor) }}
    {{ form_row(form.url) }}
    {{ form_row(form.target) }}
    {{ form_row(form.custom_target) }}
{% endblock link_widget %}
