{{ sfs_cms_admin_module_accordion_block_start(form, accordion, 'properties', true) }}
<div class="col-12 mb-3">
    {{ form_widget(form.id) }}
</div>
<div class="col-12 mb-3">
    {{ form_widget(form.class) }}
</div>
<div class="col-12">
    {{ form_row(form.container_type) }}
</div>
<div class="col-12">
    {{ form_row(form.tag_type) }}
</div>
<div class="col-12">
    {{ form_row(form.bg_color) }}
</div>
{{ sfs_cms_admin_module_accordion_block_end() }}