<div style="{{ bg_color|default(false) ? 'background-color:'~bg_color : '' }}">
    <{{ tag_type }} class="container-module {{ container_type }} {{ class|default('') }}" {{ (id is not empty)? 'id='~ id|default('')}}>
    {% for content in contents %}
        {{ content|raw }}
    {% endfor %}
    </{{ tag_type }}>
</div>
