{% trans_default_domain 'sfs_cms_modules' %}
{% set defaultDivClass = 'text-break content-escape' %}
<div id="{{ form.id.vars.data|default('') }}"
    data-edit-id-target="htmlId"

    class="{{ defaultDivClass }} {{ form.class.vars.data|default('') }}"
    data-edit-class-target="htmlClassDiv"
    data-edit-class-default="{{ defaultDivClass }}"

    data-edit-content-target="code"
    data-edit-content-validate="html"
    data-edit-content-placeholder="{{ 'html.form.code.placeholder'|trans }}"
>
    {{ form.code.vars.data|default()|replace({'href': 'href-invalidate'})|raw }}
</div>