{% trans_default_domain 'sfs_cms_admin' %}

{% for page in entities %}
    <tr>
        <td class="p-3">{{ page.id }}</td>
{#        <td class=p-3>{{ page.site.name|default('') }}</td>#}
        <td class="p-3">{{ page.name }}</td>
        <td class="p-3">
            {% if is_granted('ROLE_SFS_CMS_ADMIN_PAGES_DETAILS', page) %}
                <a href="{{ url('sfs_cms_admin_content_page_details', {'content':page}) }}">{{ 'admin_contents.list.actions.details.link'|trans }}</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}