{% trans_default_domain 'sfs_cms' %}

{% for layout in entities %}
    <tr>
        <td>{{ layout.id }}</td>
        <td>{{ layout.name }}</td>
        <td>{{ layout.template }}</td>
        <td>
            <a href="{{ url('sfs_cms_admin_layouts_update', {'layout':layout}) }}">{{ 'admin_layouts.list.actions.update.link'|trans }}</a>
            <a href="{{ url('sfs_cms_admin_layouts_preview_content', {'layout':layout}) }}" target="_blank">{{ 'admin_layouts.list.actions.preview.link'|trans }}</a>
        </td>
    </tr>
{% endfor %}