{% trans_default_domain 'sfs_cms_admin' %}
{% extends '@SfsCms/admin_layout.html.twig' %}
{% block title %}{{ 'admin_sites.delete.meta.title'|trans }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_cms_admin_sites_list') }}">{{ 'admin_sites.list.breadcrumb'|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="content">{{ 'admin_sites.delete.breadcrumb'|trans({'%name%': site.name|default(site.id) }) }}</li>
{% endblock breadcrums_content %}

{% block content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <div class="d-flex justify-content-end align-items-center">
            <a href="{{ url('sfs_cms_admin_sites_list') }}" class="btn btn-outline-secondary ms-3">{{ 'admin_sites.delete.actions.cancel.button'|trans }}</a>
            <input type="submit" value="{{ 'admin_sites.delete.actions.delete.button'|trans }}" class="btn btn-danger ms-3" />
        </div>
    {{ form_end(form) }}
{% endblock content %}