{% trans_default_domain 'sfs_cms_admin' %}
{% extends '@SfsCms/admin_layout.html.twig' %}
{% block title %}{{ 'admin_sites.list.page_title'|trans }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="content">{{ 'admin_sites.list.breadcrumb'|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}

    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">{{ 'admin_sites.list.title'|trans }}</h1>

        {% if is_granted('ROLE_SFS_CMS_ADMIN_SITES_CREATE') %}
            <a href="{{ url('sfs_cms_admin_sites_create') }}" class="btn btn-primary mb-3">{{ 'admin_sites.list.actions.create.button'|trans }}</a>
        {% endif %}
    </div>


    {{ form_start(filterForm) }}
    {{ form_widget(filterForm) }}
    {{ form_rest(filterForm) }}
    {{ form_end(filterForm) }}

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">{{ 'admin_sites.list.fields.id.header'|trans }}</th>
            <th scope="col">{{ 'admin_sites.list.fields.name.header'|trans }}</th>
            <th scope="col">{{ 'admin_sites.list.fields.enabled.header'|trans }}</th>
            {% if sfs_cms_site_has_languages() %}<th scope="col">{{ 'admin_sites.list.fields.languages.header'|trans }}</th>{% endif %}
            {% if sfs_cms_site_has_countries() %}<th scope="col">{{ 'admin_sites.list.fields.countries.header'|trans }}</th>{% endif %}

            <th scope="col">&nbsp;{#{{ 'admin_sites.list.actions.header'|trans }}#}</th>
{#            <th>&nbsp;</th>#}
        </tr>
        </thead>

        <tbody>
        {% include '@SfsCms/admin/site/list-content.html.twig' %}
        </tbody>

        {% if entities.contents|default(false) %}
            <tfoot>
            <tr>
                <td colspan="20">
                    {% if entities.prevContent %}
                        <a href="{{ url('sfs_cms_admin_sites_list', app.request.query.all|merge({ content: entities.prevContent })) }}" title="Prev content"><span class="mdi mdi-24px mdi-chevron-left"></span></a>
                    {% endif %}

                    {% if entities.nextContent %}
                        <a class="float-right" href="{{ url('sfs_cms_admin_sites_list', app.request.query.all|merge({ content: entities.nextContent })) }}" title="Next content"><span class="mdi mdi-24px mdi-chevron-right"></span></a>
                    {% endif %}
                </td>
            </tr>
            </tfoot>
        {% endif %}
    </table>
{% endblock content %}