{% trans_default_domain 'sfs_cms_admin' %}
{% extends '@SfsCms/admin_layout.html.twig' %}
{% block title %}{{ 'admin_sites.update.meta.title'|trans }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_cms_admin_sites_list') }}">{{ 'admin_sites.list.breadcrumb'|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="content">{{ 'admin_sites.update.breadcrumb'|trans({'%name%': site.name|default(site.id) }) }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">Update order</h1>
    </div>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <div class="d-flex justify-content-end align-items-center">
            <a href="{{ url('sfs_cms_admin_sites_list') }}" class="btn btn-outline-secondary ml-3">{{ 'admin_sites.update.actions.cancel.button'|trans }}</a>
            <a href="{{ url('sfs_cms_admin_sites_delete', {'site':site}) }}" class="btn btn-danger ml-3">{{ 'admin_sites.update.actions.delete.button'|trans }}</a>
            <input type="submit" value="{{ 'admin_sites.update.actions.update.button'|trans }}" class="btn btn-primary ml-3" />
        </div>
    {{ form_end(form) }}
{% endblock content %}