{{ sfs_cms_admin_module_accordion_block_start(form, accordion, 'attributes') }}
        <div class="col-12">
            {{ form_row(form.id) }}
        </div>
        <div class="col-12">
            {{ form_row(form.class) }}
        </div>
{{ sfs_cms_admin_module_accordion_block_end() }}

{{ sfs_cms_admin_module_accordion_block_start(form, accordion, 'block', true) }}
        <div class="col-12">
            {{ form_row(form.block) }}
        </div>
{{ sfs_cms_admin_module_accordion_block_end() }}