{% import '@SfsCms/macros/modules_render.html.twig' as module %}

<div {{ module.id(id) }} {{ module.class(class, 'grid-module row') }} {{ module.bg_color(bg_color) }}>
    {% for content in contents|filter(content => content != constant('Softspring\\CmsBundle\\Render\\ContentRender::LOCALE_HIDDEN_MODULE') and content != constant('Softspring\\CmsBundle\\Render\\ContentRender::SITE_HIDDEN_MODULE')) %}
        <div class="{{ node_row_class|default(node_row_class_custom|default('col mb-4')) }}">{{ content|raw }}</div>
    {% endfor %}
</div>
