{% block translatable_text_widget %}
    {% if form|length > 1 %}
        {% for field in form %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        {{ field.vars.label|upper }}
{#                        <img alt="{{ field.vars.label|upper }}" title="{{ field.vars.label|upper }}" src="https://unpkg.com/language-icons/icons/{{ field.vars.label|lower }}.svg" height="15" class="border"/>&nbsp;#}
                    </span>
                </div>
                {{ form_widget(field) }}
            </div>
        {% endfor %}
    {% else %}
        {{ form_widget(form|first) }}
    {% endif %}
{% endblock translatable_text_widget %}

{% block translatable_text_element_widget %}
    {% if attr['data-edit-content-input']|default(false) %}
        {% set attr = attr|merge({'data-edit-content-input': attr['data-edit-content-input']~'.'~form.vars.label|lower}) -%}
    {% endif %}
    {{ form_widget(form, {'attr':attr}) }}
{% endblock %}

{% block translatable_image_widget %}
    {% if form|length > 1 %}
        {% for field in form %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        {{ field.vars.label|upper }}
{#                        <img alt="{{ field.vars.label|upper }}" title="{{ field.vars.label|upper }}" src="https://unpkg.com/language-icons/icons/{{ field.vars.label|lower }}.svg" height="15" class="border"/>&nbsp;#}
                    </span>
                </div>
                {{ form_widget(field) }}
            </div>
        {% endfor %}
    {% else %}
        {{ form_widget(form|first) }}
    {% endif %}
{% endblock translatable_image_widget %}

{% block translatable_image_element_widget %}
    {% if attr['data-image-preview-input']|default(false) %}
        {% set attr = attr|merge({'data-image-preview-input': attr['data-image-preview-input']~'.'~form.vars.label|lower}) -%}
    {% endif %}
    {{ form_widget(form, {'attr':attr}) }}
{% endblock %}

{% block html_class_widget %}
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">.class</span>
        </div>
        {{ form_widget(form) }}
    </div>
{% endblock html_class_widget %}

{% block html_id_widget %}
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">#</span>
        </div>
        {{ form_widget(form) }}
    </div>
{% endblock html_id_widget %}

{%- block polymorphic_prototype_buttons -%}
    <!-- Buttons -->
    <div id="polymorphic_prototypes" class="dropdown polymorphic-collection-prototypes">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
{#            {{ 'modules.collection.form.add.button'|trans }} {{ name }}#}
            {{ 'content.add_module.button'|trans({}, 'sfs_cms_contents') }}
        </button>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu--max-height" aria-labelledby="dropdownMenuButton">
            {% for key, prototype in form.vars.prototypes %}
                <button type="button" class="polymorphic-add-button btn btn-link d-block px-2 py-1" {{ block('polymorphic_prototype_button_attributes') }}>
                    {% set trans_domain = prototype.vars.translation_domain | default(translation_domain) | default(false) %}
                    {{ not trans_domain ? prototype.vars.prototype_button_label : prototype.vars.prototype_button_label|trans({}, trans_domain) }}
                </button>
            {% endfor %}
        </div>
    </div>
{%- endblock polymorphic_prototype_buttons -%}

{% block module_collection_row %}
    <div class="module-polymorphic-collection">
        {{ form_label(form) }} {# uses: module_collection_label #}
        {{ form_errors(form) }}
        {{ form_widget(form) }} {# uses: module_collection_widget #}
    </div>
{% endblock module_collection_row %}

{% block module_collection_label %}
    <div class="row mt-3 mb-3">
        <div class="col-sm-6">
            {% set element = 'p' %}
            {% set label_attr = label_attr | merge({'class':'h4'}) %}

            {% if label is not same as(false) -%}
                {% if label is empty -%}
                    {%- if label_format is not empty -%}
                        {% set label = label_format|replace({
                            '%name%': name,
                            '%id%': id,
                        }) %}
                    {%- else -%}
                        {% set label = name|humanize %}
                    {%- endif -%}
                {%- endif -%}
                <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</{{ element|default('label') }}>
            {%- endif -%}
        </div>
        <div class="col-sm-6 text-end">
            {{ block('polymorphic_prototype_buttons') }}
        </div>
    </div>
{% endblock module_collection_label %}

{% block module_collection_widget %}
    {% set attr = attr | merge({'class':'polymorphic-collection-widget '~module_collection_class}) %}
    <!-- Nodes -->
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{% endblock module_collection_widget %}

{#{% block module_collection_entry_row %}#}
{#{% endblock module_collection_entry_row %}#}

{#{% block module_collection_entry_widget %}#}
{#{% endblock module_collection_entry_widget %}#}

{#{% block module_collection_entry %}#}
{#{% endblock module_collection_entry %}#}

{% block dynamic_form_module_row %}
    <div class="polymorphic-node-row mt-2 mb-2 {{ row_class|default('') }}" {{ block('widget_container_attributes') }}>
        <div class="cms-module">
            <div class="cms-module-header">
                <div class="cms-module-title">
{#                    <span class="order-polymorphic-node" id="{{ id }}_order_index">{{ form.vars.name }}</span>##}
{#                    {{ form.vars.label|trans(form.vars.label_translation_parameters, form.vars.translation_domain) }}#}
                    {# form_name #}
                </div>

                <div class="cms-module-buttons">
                    <button type="button" id="{{ id }}_down_node_button" class="polymorphic-down-node-button"><span class="bi bi-chevron-down h2"></span><span class="sr-only">v</span></button>
                    <button type="button" id="{{ id }}_up_node_button" class="polymorphic-up-node-button"><span class="bi bi-chevron-up h2"></span><span class="sr-only">^</span></button>
                    <button type="button" id="{{ id }}_remove_node_button" class="btn-close polymorphic-remove-node-button ms-3"><span class="sr-only">x</span></button>
                </div>
            </div>
            <div class="cms-module-body">
                {{ form_widget(form) }}{{ form_errors(form) }}
            </div>
        </div>
    </div>
{% endblock dynamic_form_module_row %}

{% block dynamic_form_module_widget %}
    <div class="cms-module-edit">
        {% if edit_template|default(false) %}
            <div class="module-preview">
            {% include edit_template %}
            </div>
        {% endif %}

        <div class="cms-module-form">
            <div class="d-flex justify-content-between border-bottom bg-gray-200 p-3">
                <div>
                    <span class="order-polymorphic-node pe-3" id="{{ id }}_order_index">{{ form.vars.name }}</span>
                    <strong># {{ form.vars.label|trans(form.vars.label_translation_parameters, form.vars.translation_domain) }}</strong>
                </div>
                {# form_name #}
                <button type="button" class="btn-close" data-cms-module-form-close="" aria-label="Close"></button>
            </div>
            <div class="container">
                {% if form_template|default(false) %}
                    {% include form_template %}
                {% else %}
                    {{ form_widget(form) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock dynamic_form_module_widget %}

{% block container_module_row %}
    <div class="polymorphic-node-row mt-2 mb-2 {{ row_class|default('') }}" {{ block('widget_container_attributes') }}>
        <div class="cms-module">
            <div class="cms-module-header">
                <div class="cms-module-title">
                    <span class="order-polymorphic-node" id="{{ id }}_order_index">{{ form.vars.name }}</span>#
                    {{ form.vars.label|trans(form.vars.label_translation_parameters, form.vars.translation_domain) }}
                    {# form_name #}
                </div>

                <div class="cms-module-buttons">
                    <button type="button" id="{{ id }}_remove_node_button" class="polymorphic-remove-node-button">x</button>
                    <button type="button" id="{{ id }}_down_node_button" class="polymorphic-down-node-button">v</button>
                    <button type="button" id="{{ id }}_up_node_button" class="polymorphic-up-node-button">^</button>
                </div>
            </div>
            <div class="cms-module-body">
                <div class="row">
                    <div class="col">{{ form_widget(form) }}{{ form_errors(form) }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock container_module_row %}

{% block container_module_widget %}
    <div class="cms-module-edit">
        {% if edit_template|default(false) %}
            <div class="module-preview">
            {% include edit_template %}
            </div>
        {% endif %}

        {% if form_template|default(false) %}
            {% include form_template %}
        {% else %}
            {{ form_widget(form) }}
        {% endif %}
    </div>
{% endblock container_module_widget %}

{% block empty_module_row %}
    <div class="polymorphic-node-row mt-2 mb-2 {{ row_class|default('') }}" {{ block('widget_container_attributes') }}>
        <div class="cms-modulecms-module">
            <div class="cms-module-header">
                <div class="cms-module-title">
                    <span class="order-polymorphic-node" id="{{ id }}_order_index">{{ form.vars.name }}</span>#
                    {{ form.vars.label|trans(form.vars.label_translation_parameters, form.vars.translation_domain) }}
                    {# form_name #}
                </div>

                <div class="cms-module-buttons">
                    <button type="button" id="{{ id }}_remove_node_button" class="polymorphic-remove-node-button">x</button>
                    <button type="button" id="{{ id }}_down_node_button" class="polymorphic-down-node-button">v</button>
                    <button type="button" id="{{ id }}_up_node_button" class="polymorphic-up-node-button">^</button>
                </div>
            </div>
            <div class="cms-module-body">
                <div class="row">
                    <div class="col">{{ form_widget(form) }}{{ form_errors(form) }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock empty_module_row %}

{% block empty_module_widget %}
    <div class="cms-module-edit">
        {% if edit_template|default(false) %}
            <div class="module-preview">
            {% include edit_template %}
            </div>
        {% endif %}

        {% if form_template|default(false) %}
            {% include form_template %}
        {% else %}
            {{ form_widget(form) }}
        {% endif %}
    </div>
{% endblock empty_module_widget %}

{% block route_path_collection_row %}
    <div class="route-path-collection collection">
        {{ form_label(form) }} {# uses: route_path_collection_label #}
        {{ form_errors(form) }}
        {{ form_widget(form) }} {# uses: route_path_collection_widget #}
    </div>
{% endblock route_path_collection_row %}

{% block route_path_collection_label %}
    {% trans_default_domain 'sfs_cms_admin' %}
    <div class="my-4">
        <div class="d-flex justify-content-between mb-4">
            <div>
                {% set element = 'p' %}
                {% set label_attr = label_attr | merge({'class':'h4'}) %}

                {% if label is not same as(false) -%}
                {% if label is empty -%}
                    {%- if label_format is not empty -%}
                        {% set label = label_format|replace({
                            '%name%': name,
                            '%id%': id,
                        }) %}
                    {%- else -%}
                        {% set label = name|humanize %}
                    {%- endif -%}
                {%- endif -%}
                <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</{{ element|default('label') }}>
            {%- endif -%}
        </div>

        <button type="button" class="btn btn-primary cursor-pointer add_route_path" data-collection="#{{ id }}">
            {{ 'admin_routes.form.paths.add.button'|trans }}
        </button>
    </div>
{% endblock route_path_collection_label %}

{% block route_path_collection_widget %}
    {% if prototype is defined and not prototype.rendered %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    {% set attr = attr | merge({'class':'route-path-collection-widget col-12'}) %}
    <!-- Nodes -->
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{% endblock route_path_collection_widget %}

{% block route_path_row %}
    <div class="polymorphic-node-row mt-2 mb-2" {{ block('widget_container_attributes') }}>
        <div class="row">
            <div class="col-sm-1"><span class="order-route-path-node">{{ form.vars.name }}</span></div>
            <div class="col-sm-10">{{ form_widget(form) }}{{ form_errors(form) }}</div>
            <div class="col-sm-1"><button type="button" class="btn btn-light rounded-circle remove_route_path px-3">x</button></div>
        </div>
    </div>
{% endblock route_path_row %}

{% block route_path_widget %}
    <div class="row {{ not form.parent.vars.valid ? 'show-invalid' }}">
        <div class="col-sm-2">{{ form_label(form.path) }}</div>
        <div class="col-sm-2">{{ form_widget(form.path) }}{{ form_errors(form.path) }}</div>
        <div class="col-sm-2">{{ form_label(form.locale) }}</div>
        <div class="col-sm-2">{{ form_widget(form.locale) }}{{ form_errors(form.locale) }}</div>
        <div class="col-sm-2">{{ form_label(form.cacheTtl) }}</div>
        <div class="col-sm-2">{{ form_widget(form.cacheTtl) }}{{ form_errors(form.cacheTtl) }}</div>
        {{ form_rest(form) }}
    </div>
{% endblock route_path_widget %}

{% block menu_item_collection_row %}
    <div class="menu-item-collection collection">
        {{ form_label(form) }} {# uses: menu_item_collection_label #}
        {{ form_errors(form) }}
        {{ form_widget(form) }} {# uses: menu_item_collection_widget #}
    </div>
{% endblock menu_item_collection_row %}

{% block menu_item_collection_label %}
    {% trans_default_domain 'sfs_cms_admin' %}
    <div class="row my-4">
        <div class="col-sm-6">
            {% set element = 'p' %}
            {% set label_attr = label_attr | merge({'class':'h4'}) %}

            {% if label is not same as(false) -%}
            {% if label is empty -%}
                {%- if label_format is not empty -%}
                    {% set label = label_format|replace({
                        '%name%': name,
                        '%id%': id,
                    }) %}
                {%- else -%}
                    {% set label = name|humanize %}
                {%- endif -%}
            {%- endif -%}
            <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</{{ element|default('label') }}>
        {%- endif -%}
    </div>
    <div class="col-sm-6 text-end">
        <button type="button" class="btn btn-primary cursor-pointer add_menu_item" data-collection="#{{ id }}">
            {{ 'admin_menus.form.items.add.button'|trans }}
        </button>
    </div>
{% endblock menu_item_collection_label %}

{% block menu_item_collection_widget %}
    {% if prototype is defined and not prototype.rendered %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    {% set attr = attr | merge({'class':'menu-item-collection-widget col-12'}) %}
    <!-- Nodes -->
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{% endblock menu_item_collection_widget %}

{% block menu_item_row %}
    <div class="polymorphic-node-row mt-2 mb-2" {{ block('widget_container_attributes') }}>
        <div class="row">
            <div class="col-sm-1"><span class="order-menu-item-node">{{ form.vars.name }}</span></div>
            <div class="col-sm-10">{{ form_widget(form) }}{{ form_errors(form) }}</div>
            <div class="col-sm-1"><button type="button" class="btn btn-light rounded-circle remove_menu_item px-3">x</button></div>
        </div>
    </div>
{% endblock menu_item_row %}

{% block menu_item_widget %}
    <div class="row {{ not form.parent.vars.valid ? 'show-invalid' }}">
        <div class="col-sm-2">{{ form_label(form.text) }}</div>
        <div class="col-sm">{{ form_widget(form.text) }}{{ form_errors(form.text) }}</div>
        <div class="col-sm-2">{{ form_label(form.route) }}</div>
        <div class="col-sm">{{ form_widget(form.route) }}{{ form_errors(form.route) }}</div>
        {{ form_rest(form) }}
    </div>
{% endblock menu_item_widget %}

{#{% block dynamic_form_collection_row %}#}
{#    <div class="dynamic-form-collection collection">#}
{#        {{ form_label(form) }} #}{# uses: dynamic_form_collection_label #}
{#        {{ form_errors(form) }}#}
{#        {{ form_widget(form) }} #}{# uses: dynamic_form_collection_widget #}
{#    </div>#}
{#{% endblock dynamic_form_collection_row %}#}

{#{% block dynamic_form_collection_label %}#}
{#    {% trans_default_domain 'sfs_cms_admin' %}#}
{#    <div class="row my-4">#}
{#        <div class="col-sm-6">#}
{#            {% set element = 'p' %}#}
{#            {% set label_attr = label_attr | merge({'class':'h4'}) %}#}

{#            {% if label is not same as(false) -%}#}
{#            {% if label is empty -%}#}
{#                {%- if label_format is not empty -%}#}
{#                    {% set label = label_format|replace({#}
{#                        '%name%': name,#}
{#                        '%id%': id,#}
{#                    }) %}#}
{#                {%- else -%}#}
{#                    {% set label = name|humanize %}#}
{#                {%- endif -%}#}
{#            {%- endif -%}#}
{#            <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</{{ element|default('label') }}>#}
{#        {%- endif -%}#}
{#    </div>#}
{#    <div class="col-sm-6 text-end">#}
{#        <button type="button" class="btn btn-primary cursor-pointer add_dynamic_form" data-collection="#{{ id }}">#}
{#            Add#}
{#        </button>#}
{#    </div>#}
{#{% endblock dynamic_form_collection_label %}#}

{#{% block dynamic_form_collection_widget %}#}
{#    {% if prototype is defined and not prototype.rendered %}#}
{#        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}#}
{#    {% endif %}#}
{#    {% set attr = attr | merge({'class':'dynamic-form-collection-widget col-12'}) %}#}
{#    <!-- Nodes -->#}
{#    <div {{ block('widget_container_attributes') }}>#}
{#        {%- if form.parent is empty -%}#}
{#            {{ form_errors(form) }}#}
{#        {%- endif -%}#}
{#        {{- block('form_rows') -}}#}
{#        {{- form_rest(form) -}}#}
{#    </div>#}
{#{% endblock dynamic_form_collection_widget %}#}
