{% if content_entity is not defined and entity is defined %}
    {% deprecated 'content_entity is required for cms >= 6.0, entity field will not be accepted anymore' %}
{% endif %}
{% set content_entity = content_entity|default(entity) %}
{% trans_default_domain 'sfs_cms_contents' %}

<ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
    {% block tabs %}
        {% for item in sfs_cms_admin_content_menu(current, content_entity) %}
            <li class="nav-item">
                {% if not (item.disabled|default(false)) %}
                    <a class="nav-link {{ item.active|default(false) ? 'active' : '' }}" href="{{ item.url|default('#') }}">{{ item.text }}</a>
                {% else %}
                    <a class="nav-link disabled">{{ item.text }}</a>
                {% endif %}
            </li>
        {% endfor %}
        <li class="nav-item">
            {% if not content_config.admin.duplicate.is_granted or is_granted(content_config.admin.duplicate.is_granted, entity) %}
                <a class="btn btn-sm btn-primary button" href="{{ url('sfs_cms_admin_content_'~content_type~'_duplicate', {'content':content_entity}) }}">
                   <span class="bi bi-copy"></span>{{ ('admin_page.tabs_menu.duplicate')|trans }}</a>
            {% else %}
                <a class="btn btn-sm btn-primary disabled">
                   <span class="bi bi-copy"></span>{{ ('admin_page.tabs_menu.duplicate')|trans }}</a>
            {% endif %}
        </li>
    {% endblock tabs %}
</ul>
