{% trans_default_domain 'sfs_cms_contents' %}

{% embed '@SfsCms/admin/_embeds/_card.html.twig' with {'title': ('admin_'~content_type~'.read.routes.title')|trans} %}
    {% trans_default_domain 'sfs_cms_contents' %}

    {% block title %}
        {% if not content_config.admin.routes.is_granted or is_granted(content_config.admin.routes.is_granted, entity) %}
            <a class="btn btn-sm btn-outline-secondary float-end"  href="{{ url('sfs_cms_admin_content_'~content_type~'_routes', {'content':entity}) }}">{{ ('admin_'~content_type~'.read.indexing.edit.link')|trans }}</a>
        {% else %}
            <a class="btn btn-sm btn-outline-secondary float-end disabled">{{ ('admin_'~content_type~'.read.routes.edit.link')|trans }}</a>
        {% endif %}
        {{ parent() }}
    {% endblock %}

    {% block content %}
        {% if not entity.publishedVersion %}
            <div class="alert alert-warning" role="alert">
                {{ ('admin_'~content_type~'.read.routes.not_published_warning')|trans }}
            </div>
        {% else %}
            {% set routeLocales = sfs_cms_check_content_locales_and_routes(entity) %}
            {% for missingLocale in routeLocales.missing_route_locales %}
                <div class="alert alert-warning" role="alert">
                    {{ ('admin_'~content_type~'.read.routes.missing_locale')|trans({'%missingLocale%': missingLocale}) }}
                </div>
            {% endfor %}
        {% endif %}

        <ul class="list-unstyled">
            {% for route in entity.routes %}
                {% for site in route.sites %}
                    {% for path in route.paths %}
                        <li>
                            {{ site|sfs_cms_site_name }}: <a href="{{ sfs_cms_route_path_url(path, site) }}"
                                                             target="_blank">{{ sfs_cms_route_path_path(path, site) }}
                                <span class="mdi mdi-18px mdi-open-in-new"></span></a>
                            {% if path.cacheTtl and not (contentCacheLastModifiedEnabled|default(false)) %}{{ ('admin_'~content_type~'.read.routes.cache')|trans({'%ttl%': path.cacheTtl}) }}{% endif %}
                        </li>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </ul>
    {% endblock %}
{% endembed %}