{% trans_default_domain 'sfs_cms_contents' %}

{% extends '@SfsCms/admin_layout.html.twig' %}

{% block title %}{{ ('admin_'~content~'.content.meta.title')|trans({'%name%':entity.name}) }}{% endblock %}

{% form_theme form
    'bootstrap_5_layout.html.twig'
    '@SfsPolymorphicFormType/polymorphic-form-theme.html.twig'
    '@SfsCms/forms/modules_theme.html.twig'
    '@SfsCms/forms/types_theme.html.twig'
    '@SfsMedia/forms/media_type_theme.html.twig'
%}

{% block body %}
    {{ form_start(form) }}
    <div class="d-flex flex-col align-items-stretch min-vh-100 pt-5">
        <header class="cms-content-header flex-fill p-3 bg-dark fixed-top border-bottom">
            <div class="container-fluid">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        {{ ('admin_'~content~'.content.title')|trans({'%name%':entity.name}) }}
                    </a>

                    <div class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></div>

                    <div class="text-end me-3">
                        {{ form_widget(form.layout, {'attr':{'onchange':"confirm('Si continuas se pueden eliminar datos ¿quieres continuar?') && (document.getElementById('content_content_form__ok').value = 1) && submit()"}}) }}
                    </div>

                    <div class="text-end me-3">
                        {% if enabledLocales|length > 1 %}
                            <select class="form-select" id="contentEditionLanguageSelection">
                                {% for locale in enabledLocales %}
                                    <option value="{{ locale|lower }}">{{ locale|upper }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </div>

                    <div class="text-end">
                        {% if app.request.query.get('back') == 'versions' %}
                            <a href="{{ url('sfs_cms_admin_content_'~content~'_versions', {'content':entity}) }}" class="btn btn-light">{{ ('admin_'~content~'.content.actions.cancel.button')|trans }}</a>
                        {% else %}
                            <a href="{{ url('sfs_cms_admin_content_'~content~'_details', {'content':entity}) }}" class="btn btn-light">{{ ('admin_'~content~'.content.actions.cancel.button')|trans }}</a>
                        {% endif %}

                        <div class="btn-group" role="group">
                            <button name="goto" value="content" type="submit" class="btn btn-primary ms-3">{{ ('admin_'~content~'.content.actions.save.button')|trans }}</button>
                            <button name="goto" id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <li>
                                    <button class="btn btn-primary dropdown-item" name="goto" value="general">{{ ('admin_'~content~'.content.actions.save_and_exit.button')|trans }}</button>
                                    <button class="btn btn-primary dropdown-item" name="goto" value="preview">{{ ('admin_'~content~'.content.actions.save_and_preview.button')|trans }}</button>
                                    <button class="btn btn-primary dropdown-item" name="goto" value="publish">{{ ('admin_'~content~'.content.actions.save_and_publish.button')|trans }}</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="cms-content-main flex-fill d-flex flex-row align-items-stretch bg-light h-100">
            <div class="row h-100 w-100 mx-0">
                <div class="col px-0">
                    {{ form_errors(form) }}
                    {% include layout.edit_template %}
                </div>
                <div class="col-2 h-100 bg-white d-none" id="content-form"></div>
            </div>
        </main>
    </div>
    {#        <iframe id="previewFrame" src="/preview.html"></iframe>#}
    {#        <button onclick="document.getElementById('previewFrame').contentWindow.document.getElementsByTagName('body')[0].innerHTML = 'Otra cosa'; return false;">Change</button>#}


    {{ form_widget(form.module_prototypes_collection) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}

    <script type="text/javascript">
        document.getElementById("content_content_form__ok").value = 0;
    </script>

    {% include '@SfsMedia/forms/media_type_modal.html.twig' %}
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.tiny.cloud/1/0zxo7hhr52tjj8ir7zp8ujyxq2xrwy561vrc8oqr6oozfjbi/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock javascripts %}

