{% trans_default_domain 'sfs_cms_contents' %}

{% extends '@SfsCms/admin_layout.html.twig' %}

{% block title %}{{ ('admin_'~content_type~'.delete.meta.title')|trans({'%name%':entity.name}) }}{% endblock %}

{% form_theme form
    '@SfsCms/forms/cms_theme.html.twig'
    '@SfsCms/forms/routes_theme.html.twig'
    '@SfsCms/forms/types_theme.html.twig'
%}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_cms_admin_content_'~content_type~'_list') }}">{{ ('admin_'~content_type~'.list.breadcrumb')|trans }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url('sfs_cms_admin_content_'~content_type~'_details', {'content':entity}) }}">{{ ('admin_'~content_type~'.read.breadcrumb')|trans({'%name%': entity.name}) }}</a></li>
    <li class="breadcrumb-item active" aria-current="content">{{ ('admin_'~content_type~'.delete.breadcrumb')|trans({'%name%':entity.name}) }}</li>
{% endblock breadcrums_content %}

{% block content %}
    {% include ['@content/'~content_type~'/admin/_content_title.html.twig', '@SfsCms/admin/content/_content_title.html.twig']  with {'current':'delete', 'content_type':content_type, 'content_entity':entity} %}
    {% include ['@content/'~content_type~'/admin/_content_tabs.html.twig', '@SfsCms/admin/content/_content_tabs.html.twig']  with {'current':'delete', 'content':content, 'entity':entity} %}

    {{ form_start(form) }}

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="edit" role="tabpanel" aria-labelledby="edit-tab">
            <div class="container-fluid bg-white p-3">
                {{ ('admin_'~content_type~'.delete.main_warnings_raw')|trans|raw }}

                {% if entity.publishedVersion|default(entity.lastVersion) %}
                    <p>{{ ('admin_'~content_type~'.delete.offer_backup')|trans }}</p>

                    <div class="mb-4">
                    <a href="{{ url('sfs_cms_admin_content_'~content_type~'_export_version', {'content':entity, 'version':entity.publishedVersion|default(entity.lastVersion)}) }}" class="btn btn-primary">
                        {{ ('admin_'~content_type~'.delete.actions.export.button')|trans }}</a>
                    </div>
                {% endif %}

                {{ ('admin_'~content_type~'.delete.index_warnings_raw')|trans|raw }}

                {{ form_rest(form) }}

                <div class="d-flex justify-content-end align-items-center">
                    <a href="{{ url('sfs_cms_admin_content_'~content_type~'_details', {'content':entity}) }}" class="btn btn-outline-secondary">{{ ('admin_'~content_type~'.delete.actions.cancel.button')|trans }}</a>
                    <input type="submit" value="{{ ('admin_'~content_type~'.delete.actions.delete.button')|trans }}" class="btn btn-danger ms-3" />
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock content %}
