{% trans_default_domain 'sfs_cms_contents' %}

{% extends '@SfsCms/admin_layout.html.twig' %}

{% form_theme form
    '@SfsCms/forms/cms_theme.html.twig'
    '@SfsCms/forms/routes_theme.html.twig'
    '@SfsCms/forms/types_theme.html.twig'
%}

{% block title %}{{ ('admin_'~content_type~'.import.meta.title')|trans }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_cms_admin_content_'~content_type~'_list') }}">{{ ('admin_'~content_type~'.list.breadcrumb')|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="content">{{ ('admin_'~content_type~'.import.breadcrumb')|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <h1 class="h3">{{ ('admin_'~content_type~'.import.title')|trans }}</h1>


    {{ form_start(form) }}

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="edit" role="tabpanel" aria-labelledby="edit-tab">
                <div class="container pt-3 pb-3">
{#                    {{ form_row(form.name) }}#}
{#                    {{ form_row(form.site) }}#}
{#                    {{ form_row(form.routes) }}#}
                    {{ form_rest(form) }}
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end align-items-center">
        <a href="{{ url('sfs_cms_admin_content_'~content_type~'_list') }}" class="btn btn-outline-secondary">{{ ('admin_'~content_type~'.import.actions.cancel.button')|trans }}</a>
        <input type="submit" value="{{ ('admin_'~content_type~'.import.actions.import.button')|trans }}" class="btn btn-primary ms-3" />
    </div>
    {{ form_end(form) }}
{% endblock content %}
