{% trans_default_domain 'sfs_cms_contents' %}

{% extends '@SfsCms/admin_layout.html.twig' %}

{% block title %}{{ ('admin_'~content~'.import_version.meta.title')|trans({'%name%':entity.name}) }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_cms_admin_content_'~content~'_list') }}">{{ ('admin_'~content~'.list.breadcrumb')|trans }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url('sfs_cms_admin_content_'~content~'_versions', {'content':entity}) }}">{{ ('admin_'~content~'.versions.breadcrumb')|trans({'%name%':entity.name}) }}</a></li>
    <li class="breadcrumb-item active" aria-current="content">{{ ('admin_'~content~'.import_version.breadcrumb')|trans({'%name%':entity.name}) }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <h1 class="h2">{{ ('admin_'~content~'.versions.title')|trans({'%name%':entity.name}) }}</h1>

    {% include '@SfsCms/admin/content/_content_tabs.html.twig' with {'current':'versions', 'content':content, 'entity':entity} %}

    <div class="container-fluid p-3 bg-white">
        <div class="row mt-4">
            <h2 class="h3">{{ ('admin_'~content~'.import_version.title')|trans({'%name%':entity.name}) }}</h2>

            {{ form_start(form) }}
            {{ form_errors(form) }}


            {{ form_rest(form) }}
            <div class="d-flex justify-content-end align-items-center">
                <a href="{{ url('sfs_cms_admin_content_'~content~'_versions', {'content':entity}) }}" class="btn btn-outline-secondary">{{ ('admin_'~content~'.import_version.actions.cancel.button')|trans }}</a>
                <input type="submit" value="{{ ('admin_'~content~'.import_version.actions.import.button')|trans }}" class="btn btn-primary ms-3" />
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock content %}
