{% trans_default_domain 'sfs_cms_contents' %}
{% extends '@SfsCms/admin_layout.html.twig' %}

{% form_theme filterForm 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}{{ ('admin_'~content_type~'.list.meta.title')|trans }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="page">{{ ('admin_'~content_type~'.list.breadcrumb')|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">{{ ('admin_'~content_type~'.list.title')|trans }}</h1>

        {# TODO restrict by permission #}
        <div class="float-end">
            {% if not content_config.admin.create.is_granted or is_granted(content_config.admin.create.is_granted) %}
                <a class="btn btn-outline-primary" href="{{ url('sfs_cms_admin_content_'~content_type~'_create') }}">{{ ('admin_'~content_type~'.list.actions.create.link')|trans }}</a>
            {% endif %}

            {% if not content_config.admin.import.is_granted or is_granted(content_config.admin.import.is_granted) %}
                <a class="btn btn-outline-primary" href="{{ url('sfs_cms_admin_content_'~content_type~'_import') }}">{{ ('admin_'~content_type~'.list.actions.import.link')|trans }}</a>
            {% endif %}
        </div>
    </div>

    <div class="container-fluid bg-white p-4">
        {% if filterForm.vars.submitted or entities|length %}
            <div class="mb-4">
                {{ form_start(filterForm) }}
                <div class="row">
                    <div class="col-1 py-2"><i class="bi bi-filter h4 text-muted"></i></div>
                    {% if filterForm.name is defined %}<div class="col">{{ form_row(filterForm.name) }}</div>{% endif %}
                    {% if filterForm.sites is defined %}<div class="col">{{ form_row(filterForm.sites, {'attr':{'onchange':'submit()'}}) }}</div>{% endif %}
                    {% if filterForm.status is defined %}<div class="col">{{ form_row(filterForm.status, {'attr':{'onchange':'submit()'}}) }}</div>{% endif %}
                    <div class="col-1">
                        <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                    </div>
                </div>
                {{ form_widget(filterForm) }}
                {{ form_rest(filterForm) }}
                {{ form_end(filterForm) }}
            </div>
        {% endif %}

        {% block table %}
            {% embed '@SfsComponents/paginator/table.html.twig' with {'collection':entities, 'pagination_route': 'sfs_cms_admin_content_'~content_type~'_list'} %}
                {% trans_default_domain 'sfs_cms_contents' %}
                {% block ths %}
                    <th scope="col">
                        <a href="{{ entities.sortToggleUrl(app.request, 'name') }}" class="text-dark">
                            {{ ('admin_'~content_type~'.list.fields.name.header')|trans }}
                            {% if entities.sortedBy('name', 'asc') %}<i class="bi bi-caret-up-fill"></i>{% elseif entities.sortedBy('name', 'desc') %}<i class="bi bi-caret-down-fill"></i>{% endif %}
                        </a>
                    </th>
                    <th class="">{{ ('admin_'~content_type~'.list.fields.site.header')|trans }}</th>
                    <th class="">{{ ('admin_'~content_type~'.list.fields.status.header')|trans }}</th>
                    <th class="">{{ ('admin_'~content_type~'.list.fields.publishedAt.header')|trans }}</th>
                    <th class="">&nbsp;</th>
                {% endblock ths %}

                {% block tbody %}
                    {% include list_page_view %}
                {% endblock tbody %}

                {% block empty_message %}
                    {% if filterForm.vars.submitted %}
                        <p class="text-center text-muted">
                            {{ ('admin_'~content_type~'.list.empty.clean_filters')|trans({'%url%': url('sfs_cms_admin_content_'~content_type~'_list')})|raw }}
                        </p>
                    {% else %}
                        <p class="text-center text-muted">
                            {% if not content_config.admin.create.is_granted or is_granted(content_config.admin.create.is_granted) %}
                                {{ ('admin_'~content_type~'.list.empty.create_first_content_raw')|trans({
                                    '%create_link%': url('sfs_cms_admin_content_'~content_type~'_create'),
                                    '%import_link%': url('sfs_cms_admin_content_'~content_type~'_import'),
                                })|raw }}
                            {% else %}
                                {{ ('admin_'~content_type~'.list.empty.can_not_create_content')|trans }}
                            {% endif %}
                        </p>
                        <p class="text-center text-muted">
                            {{ ('admin_'~content_type~'.list.empty.go_to_doc_raw')|trans|raw }}
                        </p>
                    {% endif %}
                {% endblock empty_message %}
            {% endembed %}
        {% endblock table %}
    </div>
{% endblock content %}
