{% trans_default_domain 'sfs_cms_contents' %}

{% for entity in entities %}
    <tr>
        <td class="p-3">{{ entity.name }}</td>
        <td class="p-3">{{ entity.sitesSorted|map((site) => site|sfs_cms_site_name)|join(', ') }}</td>
        <td class="p-3">{{ (content_type~'.status.'~entity.status)|trans }}</td>
        <td class="p-3">{{ entity.publishedVersion ? entity.publishedVersion.createdAt|date('H:i d-m-Y') : '' }}</td>
        <td class="p-3 text-end">
            {% if not content_config.admin.read.is_granted or is_granted(content_config.admin.read.is_granted, entity) %}
                <a href="{{ url('sfs_cms_admin_content_'~content_type~'_details', {'content':entity}) }}" class="ms-2 text-nowrap">{{ ('admin_'~content_type~'.list.actions.details.link')|trans }} <span class="bi bi-eye"></span></a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
