{% trans_default_domain 'sfs_cms_contents' %}
{% extends '@SfsCms/admin_layout.html.twig' %}

{% form_theme filterForm 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}{{ ('admin_'~content~'.list.meta.title')|trans }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="page">{{ ('admin_'~content~'.list.breadcrumb')|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">{{ ('admin_'~content~'.list.title')|trans }}</h1>

        {# TODO restrict by permission #}
        <div class="float-end">
            <a class="btn btn-outline-primary" href="{{ url('sfs_cms_admin_content_'~content~'_create') }}">{{ ('admin_'~content~'.list.actions.create.link')|trans }}</a>
            <a class="btn btn-outline-primary" href="{{ url('sfs_cms_admin_content_'~content~'_import') }}">{{ ('admin_'~content~'.list.actions.import.link')|trans }}</a>
        </div>
    </div>

    <div class="container-fluid bg-white p-4">
        {% if filterForm.vars.submitted or entities|length %}
            <div class="mb-4">
                {{ form_start(filterForm) }}
                <div class="row">
                    {% if filterForm.name is defined %}<div class="col">{{ form_row(filterForm.name, {'row_class':'form-floating'}) }}</div>{% endif %}
                    {% if filterForm.sites is defined %}<div class="col">{{ form_row(filterForm.sites, {'row_class':'form-floating'}) }}</div>{% endif %}

                    <div class="col">
                        <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                    </div>
                </div>
                {{ form_widget(filterForm) }}
                {{ form_rest(filterForm) }}
                {{ form_end(filterForm) }}
            </div>
        {% endif %}

        {% block table %}
            {% embed '@SfsComponents/paginator/table.html.twig' with {'collection':entities, 'pagination_route': 'sfs_cms_admin_content_'~content~'_list'} %}
                {% trans_default_domain 'sfs_cms_contents' %}
                {% block ths %}
                    <th scope="col">
                        <a href="{{ entities.sortToggleUrl(app.request, 'name') }}" class="text-dark">
                            {{ ('admin_'~content~'.list.fields.name.header')|trans }}
                            {% if entities.sortedBy('name', 'asc') %}<i class="bi bi-caret-up-fill"></i>{% elseif entities.sortedBy('name', 'desc') %}<i class="bi bi-caret-down-fill"></i>{% endif %}
                        </a>
                    </th>
                    <th class="">Site</th>
                    <th class="">Publicado</th>
                    <th class="">&nbsp;</th>
                {% endblock ths %}

                {% block tbody %}
                    {% include list_page_view %}
                {% endblock tbody %}
            {% endembed %}
        {% endblock table %}
    </div>
{% endblock content %}
