{% trans_default_domain 'sfs_cms_contents' %}

{% extends '@SfsCms/admin_layout.html.twig' %}

{% block title %}{{ ('admin_'~content~'.preview.meta.title')|trans({'%name%':entity.name}) }}{% endblock %}

{% block body %}
    <div class="d-flex flex-col align-items-stretch vh-100 pt-5">
        <header class="flex-fill p-3 bg-dark fixed-top border-bottom">
            <div class="container-fluid">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        {{ ('admin_'~content~'.preview.title')|trans({'%name%':entity.name}) }}
                    </a>

                    <div class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></div>

                    <div class="text-end me-3">
                        {% if enabledLocales|length > 1 %}
                            <select class="form-select" onchange="document.getElementById('preview').src = this.value; document.getElementById('previewExternalLink').href = this.value">
                                {% for locale in enabledLocales %}
                                    <option value="{{ url('sfs_cms_admin_content_'~content~'_preview_content', {'content':entity, 'locale':locale|lower}) }}">{{ locale|upper }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </div>

                    <div class="text-end">
                        <a id="previewExternalLink" target="_blank" class="btn btn-light" href="{{ url('sfs_cms_admin_content_'~content~'_preview_content', {'content':entity, 'locale':app.request.query.get('locale', 'es')}) }}">{{ ('admin_'~content~'.preview.actions.open.button')|trans }} <i class="bi bi-box-arrow-up-right"></i></a>
                        {% if app.request.query.get('back') == 'versions' %}
                            <a href="{{ url('sfs_cms_admin_content_'~content~'_versions', {'content':entity}) }}" class="btn btn-light">{{ ('admin_'~content~'.preview.actions.cancel.button')|trans }}</a>
                        {% else %}
                            <a href="{{ url('sfs_cms_admin_content_'~content~'_details', {'content':entity}) }}" class="btn btn-light">{{ ('admin_'~content~'.preview.actions.cancel.button')|trans }}</a>
                        {% endif %}
                        <a href="{{ url('sfs_cms_admin_content_'~content~'_content', {'content':entity}) }}" class="btn btn-light">{{ ('admin_'~content~'.preview.actions.content.button')|trans }}</a>

                        {% if version.published %}
                            <span class="btn btn-light disabled">{{ ('admin_'~content~'.preview.actions.published.button')|trans }}</span>
                        {% else %}
                            <a href="{{ url('sfs_cms_admin_content_'~content~'_publish_version', {'content':entity, 'version':version, 'back':'preview'}) }}" class="btn btn-light">{{ ('admin_'~content~'.preview.actions.publish.button')|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
        <main class="flex-fill d-flex flex-row align-items-stretch bg-light h-100">
            <div class="pt-4 h-100 w-100">
                <iframe id="preview" src="{{ url('sfs_cms_admin_content_'~content~'_preview_content_version', {'content':entity, 'version':version, 'locale': app.request.query.get('locale', app.request.defaultLocale)}) }}" width="100%" height="100%"></iframe>
            </div>
        </main>
    </div>
{% endblock body %}

