{% trans_default_domain 'sfs_cms_contents' %}

{% extends '@SfsCms/admin_layout.html.twig' %}

{% block title %}{{ ('admin_'~content~'.read.meta.title')|trans({'%name%':entity.name}) }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_cms_admin_content_'~content~'_list') }}">{{ ('admin_'~content~'.list.breadcrumb')|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="content">{{ ('admin_'~content~'.read.breadcrumb')|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <h1 class="h3">{{ ('admin_'~content~'.read.title')|trans }}</h1>

    {% include '@SfsCms/admin/content/_content_tabs.html.twig' with {'current':'read', 'content':content, 'entity':entity} %}

    <div class="container pt-3 pb-3">
        <div class="row">
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col-2 text-end">Nombre</div>
                        <div class="col-10">{{ entity.name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-2 text-end">Sitio</div>
                        <div class="col-10">{{ entity.site.name|default('') }}</div>
                    </div>
                    <div class="row">
                        <div class="col-2 text-end">Diseño</div>
                        <div class="col-10">{{ entity.layout.name|default('') }}</div>
                    </div>
                </div>
                <div class="container">
                    <h3>Traducciones</h3>
{#                    {% set stats = sfs_trans_stats(content, entity.site.languages) %}#}
{#                    {% for locale,localeStats in stats %}#}
{#                        <div class="row">#}
{#                            <div class="col-2 text-end">{{ locale }}</div>#}
{#                            <div class="col-10">#}
{#                                {% if localeStats.total %}#}
{#                                    {{ (localeStats.translated/localeStats.total*100)|round }}%#}
{#                                    ({{ localeStats.translated }}/{{ localeStats.total }})#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
                </div>
            </div>
            <div class="col-4">
                <div class="container">
                    <h3>SEO</h3>
{#                    <div class="row">#}
{#                        <div class="col-4 text-end">Index</div>#}
{#                        <div class="col-8">{{ entity.seo.noIndex?'noindex':'index' }}</div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-4 text-end">Links</div>#}
{#                        <div class="col-8">{{ entity.seo.noFollow?'nofollow':'follow' }}</div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-4 text-end">Sitemap</div>#}
{#                        <div class="col-8">{{ entity.seo.sitemap?'yes':'no' }}</div>#}
{#                    </div>#}

                    <h3 class="mt-4">Rutas</h3>
                    {% for route in entity.routes %}
                    {% for path in route.paths %}
                        <div class="row">
                            <div class="col">
                                <a href="{{ path.path }}" target="_blank">{{ path.path }} <span class="mdi mdi-18px mdi-open-in-new"></span></a>
                            </div>
                        </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h4>Versiones</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Versión</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for version in entity.versions %}
                        <tr>
                            <td>{{ version.id }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}