{% trans_default_domain 'sfs_cms_contents' %}

{% extends '@SfsCms/admin_layout.html.twig' %}

{% block title %}{{ ('admin_'~content_type~'.read.meta.title')|trans({'%name%':entity.name}) }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a
                href="{{ url('sfs_cms_admin_content_'~content_type~'_list') }}">{{ ('admin_'~content_type~'.list.breadcrumb')|trans }}</a>
    </li>
    <li class="breadcrumb-item active"
        aria-current="content">{{ ('admin_'~content_type~'.read.breadcrumb')|trans({'%name%':entity.name}) }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <h1 class="h3">{{ ('admin_'~content_type~'.read.title')|trans({'%name%':entity.name}) }}</h1>

    {% include '@SfsCms/admin/content/_content_tabs.html.twig' with {'current':'read', 'content':content, 'entity':entity} %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% include '@SfsCms/admin/content/_read_general.html.twig' %}
            </div>
            <div class="col">
                {% include '@SfsCms/admin/content/_read_seo.html.twig' %}
            </div>
            <div class="col">
                {% include '@SfsCms/admin/content/_read_routes.html.twig' %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% include '@SfsCms/admin/content/_read_versions.html.twig' %}
            </div>
        </div>
    </div>
{% endblock content %}


{#<div class="row mt-4 border-bottom border-dark">#}
{#    <div class="col-12 col-md-4">#}
{#        <h2 class="h5">Translations</h2>#}
{#        <p class="d-flex mb-2">#}
{#            <span class="pe-2">Default language</span>#}
{#            <strong>{{ entity.defaultLocale }}</strong>#}
{#        </p>#}
{#        <p class="d-flex mb-2">#}
{#            <span class="pe-2">Languages</span>#}
{#            <strong>{{ entity.locales|join(', ') }}</strong>#}
{#        </p>#}

{#        #}{#                    {% set stats = sfs_trans_stats(content, entity.site.languages) %}#}
{#        #}{#                    {% for locale,localeStats in stats %}#}
{#        #}{#                        <p class="d-flex">#}
{#        #}{#                            <strong>{{ locale }}</strong>#}
{#        #}{#                            <span class="col-10">#}
{#        #}{#                                {% if localeStats.total %}#}
{#        #}{#                                    {{ (localeStats.translated/localeStats.total*100)|round }}%#}
{#        #}{#                                   <span class="text-tertiary">({{ localeStats.translated }}/{{ localeStats.total }})</span>#}
{#        #}{#                                {% endif %}#}
{#        #}{#                            </span>#}
{#        #}{#                         </p>#}
{#        #}{#                    {% endfor %}#}
{#    </div>#}
{#    <div class="col-12 col-md-4">#}
{#        <h2 class="h5">{{ ('admin_'~content_type~'.read.seo.title')|trans }}</h2>#}
{#        <p class="d-flex mb-2">#}
{#            <span class="pe-2">{{ ('admin_'~content_type~'.read.seo.index')|trans }}</span>#}
{#            <strong>{{ entity.seo.noIndex|default(false)?'noindex':'index' }}</strong>#}
{#        </p>#}
{#        <p class="d-flex mb-2">#}
{#            <span class="pe-2">{{ ('admin_'~content_type~'.read.seo.links')|trans }}</span>#}
{#            <strong>{{ entity.seo.noFollow|default(false)?'nofollow':'follow' }}</strong>#}
{#        </p>#}
{#        <p class="d-flex mb-2">#}
{#            <span class="pe-2">{{ ('admin_'~content_type~'.read.seo.sitemap')|trans }}</span>#}
{#            <strong>{{ entity.seo.sitemap|default(false)?(('admin_'~content_type~'.read.seo.sitemap.yes')|trans):(('admin_'~content_type~'.read.seo.sitemap.no')|trans) }}</strong>#}
{#        </p>#}
{#    </div>#}