{% trans_default_domain 'sfs_cms_contents' %}

{% extends '@SfsCms/admin_layout.html.twig' %}

{% block title %}{{ ('admin_'~content~'.read.meta.title')|trans({'%name%':entity.name}) }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_cms_admin_content_'~content~'_list') }}">{{ ('admin_'~content~'.list.breadcrumb')|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="content">{{ ('admin_'~content~'.read.breadcrumb')|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <h1 class="h2">{{ ('admin_'~content~'.read.title')|trans }}</h1>

    {% include '@SfsCms/admin/content/_content_tabs.html.twig' with {'current':'read', 'content':content, 'entity':entity} %}

    <div class="container-fluid p-3 bg-white">
        <div class="row align-items-center border-bottom border-dark">
            <div class="col-12 col-md-3 col-lg-2 text-md-end mb-md-2">Nombre</div>
            <div class="col-12 col-md-9 col-lg-10 mb-2 h4"><strong>{{ entity.name }}</strong></div>
            <div class="col-12 col-md-3 col-lg-2 text-md-end mb-md-2">Sitio</div>
            <div class="col-12 col-md-9 col-lg-10 mb-2">{{ entity.site.name|default('') }}</div>
            <div class="col-12 col-md-3 col-lg-2 text-md-end mb-md-2">Dise침o</div>
            <div class="col-12 col-md-9 col-lg-10 mb-2">{{ entity.layout.name|default('') }}</div>
        </div>
        <div class="row mt-4 border-bottom border-dark">
            <div class="col-12 col-md-4">
                <h2 class="h5">Traducciones</h2>
{#                    {% set stats = sfs_trans_stats(content, entity.site.languages) %}#}
{#                    {% for locale,localeStats in stats %}#}
{#                        <p class="d-flex">#}
{#                            <strong>{{ locale }}</strong>#}
{#                            <span class="col-10">#}
{#                                {% if localeStats.total %}#}
{#                                    {{ (localeStats.translated/localeStats.total*100)|round }}%#}
{#                                   <span class="text-tertiary">({{ localeStats.translated }}/{{ localeStats.total }})</span>#}
{#                                {% endif %}#}
{#                            </span>#}
{#                         </p>#}
{#                    {% endfor %}#}
            </div>
            <div class="col-12 col-md-4">
                <h2 class="h5">SEO</h2>
                    <p class="d-flex mb-2">
                        <span class="pe-2">Index</span>
{#                        <strong>{{ entity.seo.noIndex?'noindex':'index' }}</strong>#}
                    </p>
                    <p class="d-flex mb-2">
                        <span class="pe-2">Links</span>
{#                        <strong>{{ entity.seo.noFollow?'nofollow':'follow' }}</strong>#}
                    </p>
                    <p class="d-flex mb-2">
                        <span class="pe-2">Sitemap</span>
{#                        <strong>{{ entity.seo.sitemap?'yes':'no' }}</strong>#}
                    </p>
            </div>
            <div class="col-12 col-md-4">

                <h2 class="h5">Rutas</h2>
                <ul class="list-unstyled">
                {% for route in entity.routes %}
                {% for path in route.paths %}
                    <li>
                        <a href="/{{ path.path }}" target="_blank">/{{ path.path }} <span class="mdi mdi-18px mdi-open-in-new"></span></a>
                    </li>
                {% endfor %}
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <h2 class="h5">Versiones</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Versi칩n</th>
                        <th>Creaci칩n</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for version in entity.versions %}
                        <tr>
                            <td>{{ version.id }}</td>
                            <td>{{ version.createdAt ? version.createdAt|date('H:i:s d-m-Y') : '' }}</td>
{#                            <td>{{ loop.index0 == 0 ? 'publicada' : '' }}</td>#}
                            <td>{{ version.published ? 'publicada' : '' }}</td>
                            <td>
                                <a href="{{ url('sfs_cms_admin_content_'~content~'_content_from_version', {'content':entity, 'prevVersion':version}) }}">editar</a>
                                <a href="{{ url('sfs_cms_admin_content_'~content~'_preview_version', {'content':entity, 'version':version}) }}">previsualizar</a>

                                {% if not version.published %}
                                    <a href="{{ url('sfs_cms_admin_content_'~content~'_publish_version', {'content':entity, 'version':version}) }}">publicar versi칩n</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}
