{% trans_default_domain 'sfs_cms_contents' %}

{% extends '@SfsCms/admin_layout.html.twig' %}

{% block title %}{{ ('admin_'~content~'.seo.meta.title')|trans({'%name%':entity.name}) }}{% endblock %}

{% form_theme form '@SfsPolymorphicFormType/polymorphic-form-theme.html.twig' '@SfsCms/cms_form_theme.html.twig' %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_cms_admin_content_'~content~'_list') }}">{{ ('admin_'~content~'.list.breadcrumb')|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="content">{{ ('admin_'~content~'.seo.breadcrumb')|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <h1 class="h3">{{ ('admin_'~content~'.seo.title')|trans }}</h1>

    {% include '@SfsCms/admin/content/_content_tabs.html.twig' with {'current':'seo', 'content':content, 'entity':entity} %}

    {{ form_start(form) }}

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="edit" role="tabpanel" aria-labelledby="edit-tab">
            <div class="container-fluid bg-white p-3">
                {{ form_widget(form.seo) }}
                {{ form_rest(form) }}

                <div class="d-flex justify-content-end align-items-center">
                    <a href="{{ url('sfs_cms_admin_content_'~content~'_list') }}" class="btn btn-outline-secondary">{{ ('admin_'~content~'.seo.actions.cancel.button')|trans }}</a>
                    <input type="submit" value="{{ ('admin_'~content~'.seo.actions.save.button')|trans }}" class="btn btn-primary ms-3" />
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock content %}
