{% trans_default_domain 'sfs_cms_admin' %}

{% extends '@SfsCms/admin_layout.html.twig' %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_cms_admin_content_'~content~'_list') }}">{{ ('admin_'~content~'s.list.breadcrumb')|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="content">{{ ('admin_'~content~'s.update.breadcrumb')|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <h1 class="h3">{{ ('admin_'~content~'s.update.title')|trans }}</h1>

    {% include '@SfsCms/admin/content/_content_tabs.html.twig' with {'current':'update', 'content':content, 'entity':entity} %}

    {{ form_start(form) }}

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="edit" role="tabpanel" aria-labelledby="edit-tab">
            <div class="container pt-3 pb-3">
                {{ form_row(form.name) }}
{#                {{ form_row(form.layout) }}#}
                {{ form_rest(form) }}
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end align-items-center">
        <a href="{{ url('sfs_cms_admin_content_'~content~'_list') }}" class="btn btn-outline-secondary">{{ ('admin_'~content~'s.update.actions.cancel.button')|trans }}</a>
        <input type="submit" value="{{ ('admin_'~content~'s.update.actions.update.button')|trans }}" class="btn btn-primary ml-3" />
    </div>
    {{ form_end(form) }}
{% endblock content %}