{% trans_default_domain 'sfs_cms_contents' %}

{% extends '@SfsCms/admin_layout.html.twig' %}

{% block title %}{{ ('admin_'~content_type~'.update.meta.title')|trans({'%name%':entity.name}) }}{% endblock %}

{% form_theme form
    'bootstrap_5_layout.html.twig'
    '@SfsCms/forms/routes_theme.html.twig'
    '@SfsCms/forms/types_theme.html.twig'
%}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_cms_admin_content_'~content_type~'_list') }}">{{ ('admin_'~content_type~'.list.breadcrumb')|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="content">{{ ('admin_'~content_type~'.update.breadcrumb')|trans({'%name%':entity.name}) }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <h1 class="h3">{{ ('admin_'~content_type~'.update.title')|trans({'%name%':entity.name}) }}</h1>

    {% include '@SfsCms/admin/content/_content_tabs.html.twig' with {'current':'update', 'content':content, 'entity':entity} %}

    {{ form_start(form) }}

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="edit" role="tabpanel" aria-labelledby="edit-tab">
            <div class="container-fluid bg-white p-3">
                {% block form_fields %}
                    {{ form_row(form.name) }}
                    {% if form.addLocale is defined %}{{ form_row(form.addLocale) }}{% endif %}
                    {% if form.extraData is defined %}{{ form_widget(form.extraData) }}{% endif %}
                    {{ form_label(form.routes) }}
                    {{ form_widget(form.routes.0) }}
                    {{ form_rest(form) }}
                {% endblock %}

                <div class="d-flex justify-content-end align-items-center">
                    {% if not content_config.admin.delete.is_granted or is_granted(content_config.admin.delete.is_granted, entity) %}
                        <a href="{{ url('sfs_cms_admin_content_'~content_type~'_delete', {'content':entity}) }}" class="btn btn-outline-danger">{{ ('admin_'~content_type~'.update.actions.delete.button')|trans }}</a>
                    {% else %}
                        <a class="btn btn-outline-danger disabled">{{ ('admin_'~content_type~'.update.actions.delete.button')|trans }}</a>
                    {% endif %}
                    <a href="{{ url('sfs_cms_admin_content_'~content_type~'_list') }}" class="btn btn-outline-secondary ms-3">{{ ('admin_'~content_type~'.update.actions.cancel.button')|trans }}</a>
                    <input type="submit" value="{{ ('admin_'~content_type~'.update.actions.update.button')|trans }}" class="btn btn-primary ms-3" />
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock content %}
