{% trans_default_domain 'sfs_cms_contents' %}

{% extends '@SfsCms/admin_layout.html.twig' %}

{% block title %}{{ ('admin_'~content_type~'.versions.meta.title')|trans({'%name%':entity.name}) }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_cms_admin_content_'~content_type~'_list') }}">{{ ('admin_'~content_type~'.list.breadcrumb')|trans }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url('sfs_cms_admin_content_'~content_type~'_details', {'content':entity}) }}">{{ ('admin_'~content_type~'.read.breadcrumb')|trans({'%name%': entity.name}) }}</a></li>
    <li class="breadcrumb-item active" aria-current="content">{{ ('admin_'~content_type~'.versions.breadcrumb')|trans({'%name%':entity.name}) }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <h1 class="h3">{{ ('admin_'~content_type~'.versions.title')|trans({'%name%':entity.name}) }}</h1>

    {% include ['@content/'~content_type~'/admin/_content_tabs.html.twig', '@SfsCms/admin/content/_content_tabs.html.twig']  with {'current':'versions', 'content_type':content_type, 'entity':entity} %}

    <div class="container-fluid mb-3">
        <div class="row">
            <div class="col">
                <div class="float-end">
                    {% if not content_config.admin.version_import.is_granted or is_granted(content_config.admin.version_import.is_granted, entity) %}
                        <a class="btn btn-outline-secondary" href="{{ url('sfs_cms_admin_content_'~content_type~'_import_version', {'content':entity, 'back':'versions'}) }}">{{ ('admin_'~content_type~'.versions.actions.import_version.link')|trans }}</a>
                    {% else %}
                        <a class="btn btn-outline-secondary disabled">{{ ('admin_'~content_type~'.versions.actions.import_version.link')|trans }}</a>
                    {% endif %}

                    {% if not content_config.admin.version_cleanup.is_granted or is_granted(content_config.admin.version_cleanup.is_granted, entity) %}
                        <a class="btn btn-outline-secondary" href="{{ url('sfs_cms_admin_content_'~content_type~'_cleanup_versions', {'content':entity, 'back':'versions'}) }}">{{ ('admin_'~content_type~'.versions.actions.cleanup_versions.link')|trans }}</a>
                    {% else %}
                        <a class="btn btn-outline-secondary disabled">{{ ('admin_'~content_type~'.versions.actions.cleanup_versions.link')|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-3 bg-white">
        <div class="row mt-4">
            <div class="col">
                {% include ['@content/'~content_type~'/admin/_version_list_table.html.twig', '@SfsCms/admin/content/_version_list_table.html.twig'] with {'versions': entity.versions} %}
            </div>
        </div>
    </div>

{% endblock content %}
