{% trans_default_domain 'sfs_cms_contents' %}

{% extends '@SfsCms/admin_layout.html.twig' %}

{% block title %}{{ ('admin_'~content_type~'.translations.meta.title')|trans({'%name%':content_entity.name}) }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_cms_admin_content_'~content_type~'_list') }}">{{ ('admin_'~content_type~'.list.breadcrumb')|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="content">{{ ('admin_'~content_type~'.translations.breadcrumb')|trans({'%name%':content_entity.name}) }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <h1 class="h2">{{ ('admin_'~content_type~'.translations.title')|trans({'%name%':content_entity.name, '%versionNumber%': prev_version.versionNumber|default('0')}) }}</h1>

    {% include '@SfsCms/admin/content/_content_tabs.html.twig' with {'current':'version_translations', 'content':content_entity, 'entity':version_entity} %}

    <div class="container-fluid p-3 bg-white">
        <div class="row mt-4 mb-5">
            <div class="col">
                <div class="float-end">
{#                    {% if not content_config.admin.version_translations_import.is_granted or is_granted(content_config.admin.version_translations_import.is_granted, entity) %}#}
{#                        <a class="btn btn-outline-secondary" href="{{ url('sfs_cms_admin_content_'~content_type~'_translations_import_translations', {'content':entity, 'back':'translations'}) }}">{{ ('admin_'~content_type~'.translations.actions.import_translations.link')|trans }}</a>#}
{#                    {% else %}#}
                        <a class="btn btn-outline-secondary disabled">{{ ('admin_'~content_type~'.translations.actions.import_translations.link')|trans }}</a>
{#                    {% endif %}#}

{#                    {% if not content_config.admin.version_translations_export.is_granted or is_granted(content_config.admin.version_translations_export.is_granted, entity) %}#}
{#                        <a class="btn btn-outline-secondary" href="{{ url('sfs_cms_admin_content_'~content_type~'_translations_export_translations', {'content':entity, 'back':'translations'}) }}">{{ ('admin_'~content_type~'.translations.actions.export_translations.link')|trans }}</a>#}
{#                    {% else %}#}
                        <a class="btn btn-outline-secondary disabled">{{ ('admin_'~content_type~'.translations.actions.export_translations.link')|trans }}</a>
{#                    {% endif %}#}
                </div>
            </div>
        </div>

        {% set colors = [ 'primary', 'secondary', 'info', 'success', 'warning', 'danger' ] %}
        {{ form_start(form) }}
        <table class="table">
            <tr>
                <th style="width: 10%">&nbsp;</th>
                {% for i, locale in content_entity.locales %}
                    <th>
                        <div class="bg-{{ colors[i]|default('dark') }} p-2 bg-opacity-10 text-center p-3 text-{{ colors[i]|default('dark') }}">
                            <i class="bi bi-translate"></i>
                            {{ locale }}
                        </div>
                    </th>
                {% endfor %}
            </tr>

            {% set module_type = '' %}
            {% set module = '' %}
            {% for field in form|filter( (field) => field.vars.attr['data-module']|default(false) ) %}
                {% if field.vars.attr['data-module-type'] != module_type or field.vars.attr['data-module'] != module %}
                    {% set module_type = field.vars.attr['data-module-type'] %}
                    {% set module = field.vars.attr['data-module'] %}
                    <tr>
                        <td colspan="50" class="pt-5 pb-2">
                            {{ field.vars.attr['data-module']|split(':')|join(' > ') }} >
                            <strong>{{ (module_type~'.label')|trans({}, 'sfs_cms_modules') }}</strong>
                        </td>
                    </tr>
                {% endif %}

                <tr>
{#                    <td>{{ field.vars.name }}</td>#}
                    <td>
                        {{ (module_type~'.form.'~field.vars.attr['data-module-field']~'.label')|trans({}, 'sfs_cms_modules') }}
                        {{ form_widget(field._trans_id) }}
                        {{ form_widget(field._default) }}
                    </td>

                    {% for locale in content_entity.locales %}
                        <td>
                            {{ form_widget(field.offsetGet(locale)) }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        {{ form_rest(form) }}

        <div class="d-flex justify-content-end align-items-center">
            <a href="{{ url('sfs_cms_admin_content_'~content_type~'_list') }}" class="btn btn-outline-secondary">{{ ('admin_'~content_type~'.translations.actions.cancel.button')|trans }}</a>
            <input type="submit" value="{{ ('admin_'~content_type~'.translations.actions.save.button')|trans }}" class="btn btn-primary ms-3" />
        </div>
        {{ form_end(form) }}

    </div>


{% endblock content %}
