<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link {{ current == 'read' ? 'active' : '' }}" id="edit-tab" href="{{ url('sfs_cms_admin_pages_details', {'page':page}) }}" role="tab" aria-controls="edit" aria-selected="true">General</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link {{ current == 'content' ? 'active' : '' }}" id="edit-tab" href="{{ url('sfs_cms_admin_pages_content', {'page':page}) }}" role="tab" aria-controls="edit" aria-selected="true">Contenido</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link {{ current == 'update' ? 'active' : '' }}" id="edit-tab" href="{{ url('sfs_cms_admin_pages_update', {'page':page}) }}" role="tab" aria-controls="edit" aria-selected="true">Editar</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link {{ current == 'seo' ? 'active' : '' }}" id="edit-tab" href="{{ url('sfs_cms_admin_pages_seo', {'page':page}) }}" role="tab" aria-controls="edit" aria-selected="true">SEO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ current == 'translations' ? 'active' : '' }}" href="{{ url('sfs_cms_admin_pages_translations', {'entity':page}) }}" tabindex="-1" aria-disabled="true">Traducciones</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link {{ current == 'preview' ? 'active' : '' }}" id="edit-tab" href="{{ url('sfs_cms_admin_pages_preview', {'page':page}) }}" role="tab" aria-controls="edit" aria-selected="true">Previsualizar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Rutas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Versiones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Permisos</a>
    </li>
</ul>