{% trans_default_domain 'sfs_cms_admin' %}
{% extends '@SfsCms/admin_layout.html.twig' %}
{% block title %}{{ 'admin_menus.update.meta.title'|trans }}{% endblock %}

{% form_theme form
    'bootstrap_5_layout.html.twig'
    '@SfsCms/forms/menus_theme.html.twig'
    '@SfsCms/forms/types_theme.html.twig'
%}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_cms_admin_menus_list') }}">{{ 'admin_menus.list.breadcrumb'|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="content">{{ 'admin_menus.update.breadcrumb'|trans({'%name%': menu.name|default(menu.id) }) }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <h1 class="h3">{{ 'admin_menus.update.title'|trans }}</h1>

    <div class="container-fluid bg-white p-4">
        {{ form_start(form) }}
            <div class="row">
                <div class="col">{{ form_row(form.name) }}</div>
            </div>
            <div class="row">
                <div class="col">{{ form_row(form.items) }}</div>
            </div>

            {{ form_rest(form) }}
            {{ form_errors(form) }}

            <div class="d-flex justify-content-end align-items-center">
                <a href="{{ url('sfs_cms_admin_menus_list') }}"
                   class="btn btn-outline-secondary">{{ 'admin_menus.update.actions.cancel.button'|trans }}</a>
                <button type="submit"
                        class="btn btn-primary ms-3">{{ 'admin_menus.update.actions.update.button'|trans }}</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
